{% extends 'base_home.html' %}
{% load static %}

{% block page_title %} {{block.super}} Password reset {% endblock page_title%}    

{% block primary %}
<!-- begin right-content -->
<div class="right-content">
    <!-- begin register-header -->
    <h1 class="register-header">
        <small>Provide email address used to register to reset password</small>
    </h1>
    <!-- end register-header -->   
    <!-- begin register-content -->
    <div class="register-content">
        {% if messages %}
            {% for message in messages %}
            {% if 'error' in message.tags %}
                <div id="messages" class="alert alert-danger fade in m-b-15">
                <span class="close" data-dismiss="alert">×</span>
                <i class="fa fa-info fa-2x pull-left"></i>
            {% else %}
                <div id="messages" class="alert alert-success fade in">
                <span class="close" data-dismiss="alert">×</span>
                <i class="fa fa-check fa-2x pull-left"></i>
            {% endif %}    
                <p>{{ message }}</p>
            </div>
           {% endfor %}
        {% endif %}
        {% if validlink %}
            <form action="." method="POST" class="margin-bottom-0" data-parsley-validate="true">
                {% csrf_token %}
                    <label class="control-label">New Password</label>
                    <div class="form-group m-b-15">
                        {{ form.new_password1 }}
                    </div>
                    <label class="control-label">Confirm Password</label>
                    <div class="form-group m-b-15">
                        {{ form.new_password2 }}
                    </div>
                    <div class="login-buttons">
                        <button type="submit" class="btn btn-success btn-block btn-lg">Change Password</button>
                    </div>
                </form>
            {% else %}
            <div class="m-t-20 m-b-40 p-b-40">
                <h1>Password reset unsuccessful</h1>
                <p>The password reset link was invalid, possibly because it has already been used <br /><br />
                Please request a new password reset <a href="{% url 'home' %}" class="text-success">here</a></p>
            </div>
            {% endif %}
            <div class="m-t-20 m-b-40 p-b-40">
                Not registered yet? Click <a href="{% url 'home' %}" class="text-success">here</a> to request for access<br>
                Forgot password? Click <a href="{% url 'home' %}" class="text-success">here</a> to change password
            </div>
            <fieldset>
                <legend>Important Links</legend>
                <div class="promo">
                    <p>
                            <span><a href="https://stats.uptimerobot.com/K85YJUmxl" target="_blank"><img src="{% static 'img/statuspage.jpg' %}" height="48">Status Page</a></span>
                            <span><a href="https://cpims-docs.readthedocs.io/en/latest/" target="_blank"><img src="{% static 'img/cpimsdocs.png' %}" height="48">CPIMS Docs</a></span>
                            <span><a href="https://childprotection.go.ke/" target="_blank"><img src="{% static 'img/reports.png' %}" height="48">DCS Instance</a></span>
                    </p>
                </div>
            </fieldset>
                <fieldset>
                <legend>Partners</legend>
                    <div class="promo">
                    <div class="row">
                     <div class="col-md-4">
                        <img src="{% static 'img/logo_gok.png' %}" height="55" alt="GOK" >
                      </div>
                      <div class="col-md-5">
                        <img src="{% static 'img/USAID-logo.png' %}" height="50" alt="USAID" >
                      </div>
                      <div class="col-md-3">                      
                        <img src="{% static 'img/PEPFAR-logo.png' %}" height="60" alt="PEPFAR" >
                      </div>
                    </div>
                      <span>
                        <img src="{% static 'img/healthit.jpg' %}" height="60" alt="HealtIT" >
                      </span>                    
                    </div>
                </fieldset>
                </div>
                    <hr />
                    <p class="text-center text-inverse">
                        &copy; {% now "Y" %} Directorate of Children Services (DCS). All Rights Reserved.
                    </p>
        </form>
    </div>
    <!-- end register-content -->
</div>
<!-- end right-content -->
        
{% endblock primary %}

{% block lazy_javascript_code %}
<script type="text/javascript">
jQuery(document).ready(function() {
   $("#id_new_password1").addClass( "form-control" );
   $("#id_new_password2").addClass( "form-control" );
   $('#id_new_password1').attr('data-parsley-required', 'true');
   $('#id_new_password2').attr('data-parsley-required', 'true');
   $('#id_new_password1').attr('data-parsley-minlength', '8');
   $('#id_new_password1').attr('data-parsley-uppercase', '1');
   $('#id_new_password1').attr('data-parsley-lowercase', '1');
   $('#id_new_password1').attr('data-parsley-number', '1');
   $('#id_new_password1').attr('data-parsley-special', '1');
   $('#id_new_password2').attr('data-parsley-equalto', '#id_new_password1');

   window.Parsley.addValidator('uppercase', {
      requirementType: 'number',
      validateString: function(value, requirement) {
        var uppercases = value.match(/[A-Z]/g) || [];
        return uppercases.length >= requirement;
      },
      messages: {
        en: 'Your password must contain at least (%s) uppercase letter.'
      }
    });

    //has lowercase
    window.Parsley.addValidator('lowercase', {
      requirementType: 'number',
      validateString: function(value, requirement) {
        var lowecases = value.match(/[a-z]/g) || [];
        return lowecases.length >= requirement;
      },
      messages: {
        en: 'Your password must contain at least (%s) lowercase letter.'
      }
    });

    //has number
    window.Parsley.addValidator('number', {
      requirementType: 'number',
      validateString: function(value, requirement) {
        var numbers = value.match(/[0-9]/g) || [];
        return numbers.length >= requirement;
      },
      messages: {
        en: 'Your password must contain at least (%s) number.'
      }
    });

    //has special char
    window.Parsley.addValidator('special', {
      requirementType: 'number',
      validateString: function(value, requirement) {
        var specials = value.match(/[^a-zA-Z0-9]/g) || [];
        return specials.length >= requirement;
      },
      messages: {
        en: 'Your password must contain at least (%s) special characters.'
      }
    });
});
</script>
{% endblock lazy_javascript_code %}
