{% extends 'base.html' %}
{% load app_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block page_title %}Sinovuyo Preventive Pre and Post Program Assessment Form  {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}

<!--validation error messages-->
{% if messages %}
{% for message in messages %}
{% if 'error' in message.tags %}
    <div id="messages" class="alert alert-danger fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
{% else %}
    <div id="messages" class="alert alert-success fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
{% endif %}    
    <p>{{ message }}</p>
</div>
{% endfor %}
{% endif %}
<div id="message" class="alert alert-success fade in" style="display: none">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <span id="response"></span>
</div>
<!-- end validation error messages-->

<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Forms</li>
</ol>
<!-- end breadcrumb -->

<!-- begin page-header -->
<h1 class="page-header">Forms
    <small>Sinovuyo Care Giver Preventive Pre and Post Program Assessment Form 
        {% if edit_form %}
        <b>{{care_giver.first_name}} {{care_giver.surname}} | {{ care_giver_gender }} | {{ care_giver.age}} YRS
        </b></small></h1>
        {%else%}
        {%endif%}
    </b></small>
</h1>

<!-- error messages -->




<!-- end page-header -->

<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span class="invalid-form-message" id="invalid-form-message"></span>
</div>

<!-- begin row -->
<div id='case_details' class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
      <div style="overflow-x: auto; min-height: 300px;">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i
                            class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i
                            class="fa fa-times"></i></a>
                    </div>    
                    <br>
            </div>
            <form class="form form-horizontal form-bordered" action="{{ request.get_full_path }}" method="POST" data-parsley-validate="true"
                    name="form-wizard-hhva" id="new_hhva">
                    {% csrf_token %}
                                     <table class="table table-striped ">
                                        {%if edit_form%}
                                        <p></p>
                                        {% else %}
                                                <tbody>
                                                <tr>
                                                    <br>
                                                </tr>
                                                    <tr>
                                                        <td><p style="padding-left: 5px;"><strong>Care giver name:</strong> {{care_giver.first_name}} {{care_giver.surname}}</p></td>
                                                            <td><p style="padding-left: 5px;"><strong>Age:</strong> {{care_giver.age}}</p></td>
                                                                <td><P><strong>Gender:</strong> {{care_giver_gender}}</p></td>
                                                                    <td><P><strong>Designation:</strong> {{care_giver.designation}}</p></td>
                                                    </tr>

                                                </tbody>
                                                {% endif %}
                                     <tbody>
                                     {% if edit_form %}
                                         <p> </p>
                                         {% else %}
                                             <tr>
                                                <td><strong>Type of assessment: </strong><br><br>
                                                {{ form.type_of_assessment }}</td>
                                                <td> </td>
                                                 <td> </td>
                                                    <td><strong>Date of assessment: </strong><br><br>
                                                    {{ form.date_of_assessment }}</td>
                                                 {% endif %}
                                            </tr>
                                     </tbody>
        
                                   

                                            </table>
            <div class="panel-form">
                <div class="panel panel-form">
                    <div   class="table-responsive">
                        <table class="table ">
                            <br>
                            <tr>
                                <div class="" style="background-color: #d9edf7; padding: 2px;text-align: center;">
                                <h3 class="" style="color: dimgrey;"><b>1. BACKGROUND DETAILS </b></h3>
                            </div>
                            </tr>
                                <tbody>

                                        <tr>
                                            <td>   1. Can you read?</td>
                                            <td>
                                                <div class="form-group m-r-10">
                                                    {{ form.bd_read }}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2. Level Of Education</td>
                                            <td>
                                            {{ form.bd_education_level }}
                                            </td>
                                        </tr>

                                        <tr>
                                                <td>3. How many biological children do you have staying with you?</td>
                                                <td>
                                                        {{ form.bd_biological_children }}
                                                </td>

                                        </tr>

                                        <tr>
                                                <td>4. How many children who are not your biological children are staying with you?</td>
                                                <td>
                                                        {{ form.bd_non_biological_children }}
                                                </td>
                                        </tr>

                                        <tr>
                                                <td>5. Are there any children aged 6 to 17 years in this household who are not enrolled in
                                                    school?</td>
                                                <td>
                                                        {{ form.bd_children_not_in_school }}
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>6. Do you have a source of income?</td>
                                                <td>
                                                        {{ form.bd_source_income }}
                                                </td>
                                        </tr>

                                        <tr>
                                                <td>7. Are there other adults in the home that contribute to the household income</td>
                                                <td>
                                                        {{ form.bd_adults_contribute_hh_income }}
                                                </td>
                                        </tr>
                                        <tr>
                                                <td>8. Do the children in the home also contribute to the household income</td>
                                                <td>
                                                        {{ form.bd_children_contribute_hh_income }}
                                                </td>
                                        </tr>

                                        <tr>
                                                <td>9. Are you the biological mother of the teen attending the programme?
                                                    (if yes skip Q10)</td>
                                                <td>
                                                        {{ form.bd_biological_mother }}
                                                </td>
                                        </tr>

                                        <tr id="bd_bm_live_hh_b">
                                                <td>10. If you are not the biological mother does she live in your household </td>
                                                <td>
                                                        {{ form.bd_bm_live_hh }}
                                                </td>
                                        </tr>

                                        <tr>
                                                <td>11. Are you the biological father of the teen attending the programme?(if yes skip 12)</td>
                                                <td>
                                                        {{ form.bd_biological_father }}
                                                </td>
                                        </tr>

                                        <tr id="bd_bf_live_hh_b">
                                                <td>12. If you are not the biological father does he live in your household?</td>
                                                <td>
                                                        {{ form.bd_bf_live_hh}}
                                                </td>
                                        </tr>

                                        <tr>
                                                <td>13. In the last month, did your family run out of money for food or essentials such as school fees,
                                                    medical expenses, rent expenses, clothes?</td>
                                                <td>
                                                        {{ form.bd_money_basic_expenses }}
                                                </td>
                                        </tr>

                                        <tr>
                                                <td>14. In the last month have there been any arguments in the home with shouting, hitting, sexual
                                                    violence or threats</td>
                                                <td>
                                                        {{ form.bd_violence }}
                                                </td>
                                        </tr>

                                        <tr>
                                            <td>15. In the past month has there been an adult who was unwell – in hospital or in bed a lot of the
                                                time</td>
                                            <td>
                                                    {{ form.bd_adult_unwell }}
                                            </td>
                                    </tr>
                                    <tr>
                                        <td>16. In the past month is there a child who has been unwell</td>
                                        <td>
                                                {{ form.bd_child_unwell }}
                                        </td>
                                </tr>
                                <tr>
                                    <td>17. In the past term did any of your children ever had to miss school more than 15 days because
                                        you were unwell?</td>
                                    <td>
                                            {{ form.bd_miss_school }}
                                    </td>
                            </tr>

                            <tr>
                                <td>18. Are you aware of your HIV status?</td>
                                <td>
                                        {{ form.bd_hiv_status }}
                                </td>
                        </tr>

                        <tr>
                            <td>19. Are you aware of the HIV status of children under your care?</td>
                            <td>
                                    {{ form.bd_children_hiv_status }}
                            </td>
                    </tr>

                    <tr>
                        <td>20. Have you ever discussed HIV prevention/sexual and reproductive health with your children?</td>
                        <td>
                                {{ form.bd_hiv_prevention }}
                        </td>
                </tr>

                <tr>
                    <td>21. Do you at least eat two or more meals a day?</td>
                    <td>
                            {{ form.bd_two_meals }}
                    </td>
            </tr>

            <tr>
                <td>22. In the past month are there times you and your family have had to go a day or more without
                    eating a meal because there was no food?</td>
                <td>
                        {{ form.bd_missing_meal }}
                </td>
        </tr>
                                    </tbody>
                        </table>
                    </div>
                    <br><br>
                </div>


                <div  class="panel panel-form">
                    <div id="case-events"  class="table-responsive">
                        <table id="" class="table ">
                            <div class="" style="background-color: #d9edf7; padding: 2px;text-align: center;">
                                <h3 class="" style="color: dimgrey;"><b>2. MY RELATIONSHIP WITH MY CHILD</b></h3>
                            </div>
                                    <tbody>

                                        <tr>
                                            <td>23. Do you spend time with your child to discuss his/her
                                                needs (wishes, aspirations, studies, achievements)?
                                            </td>
                                            <td>
                                                    {{ form.rc_discuss_child_needs }}
                                            </td>
                                        </tr>

                                        <tr>
                                                <td>24. Do you apply any form of discipline to your child if
                                                    he/she breaks set family rules?
                                                </td>
                                                <td>
                                                        {{ form.rc_discipline }}
                                                </td>
                                        </tr>

                                        <tr>
                                                <td>25. My child generally tells me when something is
                                                    bothering him/her
                                                </td>
                                                <td>
                                                        {{ form.rc_tells_bothering }}
                                                </td>
                                        </tr>


                                        <tr>
                                                <td>26. I involve my child in important decisions of our family
                                                </td>
                                                <td>
                                                      {{ form.rc_involve_decisions }}
                                                </td>
                                        </tr>


                                    </tbody>
                                <p>&nbsp;</p>
                        </table>
                    </div>
                    <br><br>
                <div  class="panel panel-form">
                    <div id="case-events"  class="table-responsive">
                        <table id="" class="table ">
                            <div class="" style="background-color: #d9edf7; padding: 2px;text-align: center;">
                                <h3 class="" style="color: dimgrey;"><b>3. MY CHILD’S BEHAVIOUR</b></h3>
                            </div>
                                    <thead>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>27. Your child is generally obedient, usually does what
                                                    adults request</td>
                                                <td>
                                                        {{ form.cb_child_obedient }}
                                                </td>
                                            </tr>

                                            <tr>
                                                     <td>28. Your child often fights with other children or bullies
                                                        them</td>
                                                     <td>
                                                            {{ form.cb_figths_children }}
                                                     </td>

                                            </tr>

                                        </tbody>
                                <p>&nbsp;</p>
                        </table>
                    </div>
                    <br><br>
                <div  class="panel panel-form">
                    <div id="case-events"  class="table-responsive">
                        <table id="" class="table ">
                            <div class="" style="background-color: #d9edf7; padding: 2px;text-align: center;">
                                <h3 class="" style="color: dimgrey;"><b>4. DISCIPLINING MY CHILD </b></h3>
                            </div>
                                    <tbody>


                                                <tr>
                                                        <td>29. In the past 4 weeks, how often did you discipline your child by spanking, slapping or hitting with your hand?
                                                        </td>
                                                        <td>
                                                                {{ form.dc_often_discipline }}
                                                        </td>
                                                </tr>

                                                <tr>
                                                        <td>30. Can you tell me how many times in the past 4 weeks you used any form of physical discipline with your child?
                                                        </td>
                                                        <td>
                                                                {{ form.dc_physical_discipline }}
                                                        </td>

                                                </tr>

                                                <tr>
                                                        <td>31. In the past 4 weeks, how often did you say things about your child that upset him/her?
                                                        </td>
                                                        <td>
                                                            {{ form.dc_upstet_child }}
                                                        </td>
                                                </tr>

                                        </tbody>
                                <p>&nbsp;</p>
                        </table>
                    </div>
                    <br><br>
                </div>


                <div  class="panel panel-form">
                    <div id="case-events"  class="table-responsive">
                        <table id="" class="table ">
                            <div class="" style="background-color: #d9edf7; padding: 2px;text-align: center;">
                                <h3 class="" style="color: dimgrey;"><b>5. DEALING WITH STRESSFUL LIVES AS PARENTS </b></h3>
                            </div>
                                   <tbody>


                                    <tr>
                                        <td>32. Caring for your children sometimes takes more time and energy
                                            than you have to give
                                        </td>
                                        <td>
                                                {{ form.sp_caring_energy }}
                                        </td>

                                </tr>
                                <tr>
                                    <td>33. Your children are a major source of stress in your life
                                    </td>
                                    <td>
                                            {{ form.sp_source_stress }}
                                    </td>

                            </tr>

                            <tr>
                                <td>34. In order to bring up, raise, or educate a child properly, a child
                                    needs to be physically punished
                                </td>
                                <td>
                                        {{ form.sp_physical_punish }}
                                </td>
                            </tr>
                                            </tbody>
                                <p>&nbsp;</p>
                        </table>
                    </div>
                    <br><br>
                </div>

                         <!-- begin wizard step-5-->
                <div  class="panel panel-form">
                    <div id="case-events"  class="table-responsive">
                        <table id="" class="table ">
                            <div class="" style="background-color: #d9edf7; padding: 2px;text-align: center;">
                                <h3 class="" style="color: dimgrey;"><b>6. FEELING SAD </b></h3>
                            </div>
                                   <tbody>
                                                <tr>
                                                    <td>35. How often in the past week have you felt depressed?</td>
                                                    <td>
                                                            {{ form.fs_depressed }}
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td>36. How often in the past week have you felt that
                                                        everything you did was an effort?</td>
                                                    <td>
                                                            {{ form.fs_effort }}
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td>37. How often in the past week have you felt hopeful for
                                                        the future?</td>
                                                    <td>
                                                            {{ form.fs_hopeful }}
                                                    </td>

                                            </tbody>
                                <p>&nbsp;</p>
                        </table>
                    </div>
                    <br><br>
                </div>
                <div  class="panel panel-form">
                    <div id="case-events"  class="table-responsive">
                        <table id="" class="table ">
                            <div class="" style="background-color: #d9edf7; padding: 2px;text-align: center;">
                                <h3 class="" style="color: dimgrey;"><b>7. FINANCES </b></h3>
                            </div>
                                   <tbody>
                                                <tr>
                                                    <td>38. In the past four weeks how many times have you run
                                                        out of money for something important like food or
                                                        fuel for cooking?</td>
                                                    <td>
                                                            {{ form.fi_money_important_items}}
                                                    </td>
                                                </tr>

                                                <tr>

                                                    <td>39. In the past four weeks how many times were you
                                                        worried about money?</td>
                                                    <td>
                                                            {{ form.fi_worried_money }}
                                                    </td>

                                                </tr>

                                            </tbody>
                                <p>&nbsp;</p>
                        </table>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
                     {% if edit_form %}
                    <div class="panel-body panel-form">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4"></label>
                            <div class="col-md-6 col-sm-6">
                                <button id="mysubmit-hivscreeningtool" type="submit"
                                    class="btn btn-primary">Update</button>
                                <a href="javascript:history.go(-1)" class="btn btn-white">Cancel</a>
                            </div>
                        </div>
                    <br><br>
                    </div>
                    {% else %}
                    <div class="panel-body panel-form">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4"></label>
                            <div class="col-md-6 col-sm-6">
                                <button id="mysubmit-hivscreeningtool" type="submit"
                                    class="btn btn-primary">Submit</button>
                                <a href="javascript:history.go(-1)" class="btn btn-white">Cancel</a>
                            </div>
                        </div>
                    <br><br>
                    </div>
                    {% endif %}
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


    <!-- List of fomrs start -->
                   {% if objects %}
                    <div class="panel panel-inverse">
                        <div class="table-responsive">
                                <table id="tableData"  class="table table-success table-bordered" border="1" id="past-hst">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Date of Assessment</th>
                                                <th >Name of Caregiver</th>
                                                <th>Answers</th>
                                                <th colspan="6">Action</th>
                                            </tr>
                                        </thead>
                                            {%for data in objects%}
                                                 <tbody>
                                                <tr id="evaluation-{{data.evaluation_id}}">
                                                    <td>{{loop.index}}</td>
                                                    <td>{{ data.date_of_assessment }}</td>
                                                    <td>{{ data.ref_caregiver.first_name }} {{data.ref_caregiver.surname}}</td>
                                                     <td>
                                                        <p>{{data.type_of_assessment |gen_value:vals}}</p>
                                                        <div id="evaluation_show-{{data.evaluation_id}}">
                                                            <p> <strong>Q1: </strong>{{data.bd_read |gen_value:vals}},
                                                                <strong>Q2: </strong>{{data.bd_education_level |gen_value:vals}},
                                                                <strong>Q3: </strong>{{data.bd_biological_children |gen_value:vals}},
                                                                <strong>Q4: </strong>{{data.bd_non_biological_children |gen_value:vals}}, 
                                                                <strong>Q5: </strong>{{data.bd_children_not_in_school |gen_value:vals}},
                                                                <strong>Q6: </strong>{{data.bd_source_income |gen_value:vals}}, 
                                                                <strong>Q7: </strong>{{data.bd_adults_contribute_hh_income |gen_value:vals}},
                                                                <strong>Q8: </strong>{{data.bd_childeren_contribute_hh_income |gen_value:vals}},
                                                                <strong>Q9: </strong>{{data.bd_biological_mother |gen_value:vals}},
                                                                <strong>Q10:</strong> {{data.bd_bm_live_hh |gen_value:vals}},
                                                                <strong>Q11:</strong> {{data.biological_father |gen_value:vals}},
                                                                <strong>Q12:</strong> {{data.bd_bf_live_hh |gen_value:vals}},
                                                                <strong>Q13:</strong> {{data.bd_money_basic_expenses |gen_value:vals}},
                                                                <strong>Q14:</strong> {{data.bd_violence |gen_value:vals}},
                                                                <strong>Q15:</strong> {{data.bd_adult_unwell |gen_value:vals}},
                                                                <strong>Q16:</strong> {{data.bd_child_unwell |gen_value:vals}},
                                                                <strong>Q17:</strong> {{data.bd_miss_school |gen_value:vals}}, 
                                                                <strong>Q18:</strong> {{data.bd_hiv_status |gen_value:vals}},
                                                                <strong>Q19:</strong> {{data.bd_children_hiv_status |gen_value:vals}},
                                                                <strong>Q20:</strong> {{data.bd_hiv_prevention |gen_value:vals}},
                                                                <strong>Q21:</strong> {{data.bd_two_meals |gen_value:vals}},
                                                                <strong>Q22:</strong> {{data.bd_missing_meal |gen_value:vals}},
                                                                <strong>Q23:</strong> {{data.rc_discuss_child_needs |gen_value:vals}},
                                                                <strong>Q24:</strong> {{data.rc_discipline |gen_value:vals}},
                                                                <strong>Q25:</strong> {{data.rc_tells_bothering |gen_value:vals}},
                                                                <strong>Q26:</strong> {{data.rc_involve_decisions |gen_value:vals}},
                                                                <strong>Q27:</strong> {{data.cb_child_obedient |gen_value:vals}},
                                                                <strong>Q28:</strong> {{data.cb_figths_children |gen_value:vals}},
                                                                <strong>Q29:</strong> {{data.dc_often_discipline |gen_value:vals}},
                                                                <strong>Q30:</strong> {{data.dc_physical_discipline |gen_value:vals}},
                                                                <strong>Q31:</strong> {{data.dc_upstet_child |gen_value:vals}},
                                                                <strong>Q32:</strong> {{data.sp_caring_energy |gen_value:vals}},
                                                                <strong>Q33:</strong> {{data.sp_source_stress |gen_value:vals}},
                                                                <strong>Q34:</strong> {{data.sp_physical_punish |gen_value:vals}},
                                                                <strong>Q35:</strong> {{data.fs_depressed |gen_value:vals}},
                                                                <strong>Q36:</strong> {{data.fs_effort |gen_value:vals}},
                                                                <strong>Q37:</strong> {{data.fs_hopeful |gen_value:vals}},
                                                                <strong>Q38:</strong> {{data.fi_money_important_items |gen_value:vals}},
                                                                <strong>Q39:</strong> {{data.fi_worried_money |gen_value:vals}} </p>
                                                        </div>
                                                     </td>
                                                    <td><a href="{% url 'progress-assessment-edit' data.evaluation_id%}"><button type="button" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-pencil"></i>&nbsp;Edit</button></a>
                                                    <a><button type="button" class="btn btn-sm btn-danger m-r-5" data-toggle="modal" data-target="#evaluation-{{data.evaluation_id}}"><i class="fa fa-trash"></i>&nbsp;Delete</button></td></a>
                                                    
                                                 <!-- Modal -->
                                                 <div class="modal fade" id="evaluation-{{data.evaluation_id}}" role="dialog">
                                                    <div style="width: 340px;" class="modal-dialog modal-sm">
                                                    <div class="modal-content">
                                                        <div style="background-color:#d9edf7" class="modal-header">
                                                        <button type="button" class="close " data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title" style="font-weight: 100; color: #696969"><strong>Delete record</strong></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                        <p>Are you sure you want to delete this item? </p>
                                                        <a><button onclick="deleteEvaluation('{{data.evaluation_id}}')"  type="button" class="btn btn-info" data-dismiss="modal">Ok</button></a>
                                                        <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </tr>
                                           
                                                {%endfor%}
                                        </tbody>
                                    </table>
                                        <!-- Modal -->
                                        <div class="modal fade" id="outOfWindow" role="dialog">
                                            <div style="width: 340px;" class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div style="background-color: #ff9966" class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <p> </p>
                                                    {% comment %} <h4 style="color: whitesmoke;" class="modal-title">Can not delete Event Entry...</h4> {% endcomment %}
                                                    </div>
                                                    <div class="modal-body">
                                                    <p>This item can not be deleted.</p>
                                                    <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <!-- Modal -->
                                        <div  class="modal fade" id="successMsg" role="dialog">
                                            <div style="width: 340px;"class="modal-dialog modal-sm">
                                                <div class="modal-content" style="background-color: #8f9191">
                                                    <div style="background-color: #d9edf7" class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <p> </p>
                                                    {% comment %} <h4 style="color: whitesmoke;" class="modal-title">Can not delete Event Entry...</h4> {% endcomment %}
                                                    </div>
                                                    <div class="modal-body">
                                                    <h4 style="color: lightgreen;"><strong>Deleted successfully!</strong></h4>
                                                    <button  type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        {% else %}
                    <div>
                        <h3>No data available</h3>
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>
    <!--list of forms end -->

            </div>
        </div>
            <div class="badge pull-right m-4">Revised: 4 May 2022</div>
        </div>
        <!-- end panel -->

    </div>
    <!-- end col-12 -->

</div>
<!-- end row -->


<script type="text/javascript">

   let show_div_0 = document.querySelector("#id_bd_biological_father_0") 

   show_div_0.addEventListener("change", () => {
    document.getElementById("bd_bf_live_hh_b").style.display="none";
       showDiv_0()
   })

   let show_div_1 = document.querySelector("#id_bd_biological_father_1") 

   show_div_1.addEventListener("change", () => {
    document.getElementById("bd_bf_live_hh_b").style.display="none";
       showDiv_1()
   })
   let show_div_2 = document.querySelector("#id_bd_biological_mother_0") 

   show_div_2.addEventListener("change", () => {
    document.getElementById("bd_bm_live_hh_b").style.display="none";
       showDiv_2()
   })

   let show_div_3 = document.querySelector("#id_bd_biological_mother_1") 

   show_div_3.addEventListener("change", () => {
    document.getElementById("bd_bm_live_hh_b").style.display="none";
       showDiv_3()
   })

// Delete Django Ajax Call
function deleteEvaluation(evaluation_id) {
    console.log(evaluation_id)
  //var action = confirm("Are you sure you want to delete this form?");
    $.ajax({
        type: 'GET',
        url: '{% url 'progress-assessment_delete' %}',
        
        data: {
            'evaluation_id': evaluation_id,
        },
        dataType: 'json',
        
        success: function (data) {
            if (data.deleted) {
                console.log(data);
              $("#tableData #evaluation-" + evaluation_id).remove();
              $("#successMsg").modal('show');
            }
            if(data.out_of_date){
                console.log(data.days)
                console.log("Out of response window")
                $("#outOfWindow").modal('show');
    
            }
        },
        error: function(error){
            console.log(error);
        }
    });
}

function showDiv_0() {
    el = document.getElementById("bd_bf_live_hh_b")
    el.show()
}
function showDiv_1() {
    el = document.getElementById("bd_bf_live_hh_b")
    el.style.display="none";
}
function showDiv_2() {
    el = document.getElementById("bd_bm_live_hh_b")
    el.style.display="block";
}
function showDiv_3() {
    el = document.getElementById("bd_bm_live_hh_b")
    el.style.display="none";
}

</script>
<script>
    </script>

{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script src="{% static 'js/tag-it.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
    

{% endblock %}