<p><strong>Type of assessment: </strong>
{{ eva_quiz.type_of_assessment }}
<strong>Date of assessment: </strong>
{{ eva_quiz.date_of_assessment }}
<div class="" style="font-weight: 200; ;text-align: center;">
<h6 class="" style="color: dimgrey;"><b>1. BACKGROUND DETAILS </b></h6>
</div>
1. Can you read?<br>
<div class="form-group m-r-10">
{{ eva_quiz.bd_read }}
</div>
2. Level Of Education
{{ eva_quiz.bd_education_level }}
3. How many biological children do you have staying with you?
{{ eva_quiz.bd_biological_children }}
4. How many children who are not your biological children are staying with you?
{{ eva_quiz.bd_non_biological_children }}
5. Are there any children aged 6 to 17 years in this household who are not enrolled in
school?
{{ eva_quiz.bd_children_not_in_school }}
6. Do you have a source of income?
{{ eva_quiz.bd_source_income }}
7. Are there other adults in the home that contribute to the household income
{{ eva_quiz.bd_adults_contribute_hh_income }}
8. Do the children in the home also contribute to the household income
{{ eva_quiz.bd_children_contribute_hh_income }}
9. Are you the biological mother of the teen attending the programme?
(if yes skip Q10)
{{ eva_quiz.bd_biological_mother }}
10. If you are not the biological mother does she live in your household 
{{ eva_quiz.bd_bm_live_hh }}
11. Are you the biological father of the teen attending the programme?(if yes skip 12)
{{ eva_quiz.bd_biological_father }}
12. If you are not the biological father does he live in your household?
{{ eva_quiz.bd_bf_live_hh}}
13. In the last month, did your family run out of money for food or essentials such as school fees,
medical expenses, rent expenses, clothes?
{{ eva_quiz.bd_money_basic_expenses }}
14. In the last month have there been any arguments in the home with shouting, hitting, sexual
violence or threats
{{ eva_quiz.bd_violence }}
15. In the past month has there been an adult who was unwell – in hospital or in bed a lot of the
time
{{ eva_quiz.bd_adult_unwell }}
16. In the past month is there a child who has been unwell
{{ eva_quiz.bd_child_unwell }}
17. In the past term did any of your children ever had to miss school more than 15 days because
you were unwell?
{{ eva_quiz.bd_miss_school }}
18. Are you aware of your HIV status?
{{ eva_quiz.bd_hiv_status }}
19. Are you aware of the HIV status of children under your care?
{{ eva_quiz.bd_children_hiv_status }}
20. Have you ever discussed HIV prevention/sexual and reproductive health with your children?
{{ eva_quiz.bd_hiv_prevention }}
21. Do you at least eat two or more meals a day?
{{ eva_quiz.bd_two_meals }}
22. In the past month are there times you and your family have had to go a day or more without
eating a meal because there was no food?
{{ eva_quiz.bd_missing_meal }}
<div class="" style="font-weight: 200; ;text-align: center;">
<h6 class="" style="color: dimgrey;"><b>2. MY RELATIONSHIP WITH MY CHILD</b></h6>
</div>
23. Do you spend time with your child to discuss his/her
needs (wishes, aspirations, studies, achievements)?
{{ eva_quiz.rc_discuss_child_needs }}
24. Do you apply any form of discipline to your child if
he/she breaks set family rules?
{{ eva_quiz.rc_discipline }}
25. My child generally tells me when something is
bothering him/her
{{ eva_quiz.rc_tells_bothering }}
26. I involve my child in important decisions of our family
{{ eva_quiz.rc_involve_decisions }}
<div class="" style="font-weight: 200; ;text-align: center;">
<h6 class="" style="color: dimgrey;"><b>3. MY CHILD’S BEHAVIOUR</b></h6>
</div>
27. Your child is generally obedient, usually does what
adults request
{{ eva_quiz.cb_child_obedient }}
38. Your child often fights with other children or bullies
them
{{ eva_quiz.cb_figths_children }}
<div class="" style="font-weight: 200; ;text-align: center;">
<h6 class="" style="color: dimgrey;"><b>4. DISCIPLINING MY CHILD </b></h6>
</div>
39. In the past 4 weeks, how often did you discipline your child by spanking, slapping or hitting with your hand?
{{ eva_quiz.dc_often_discipline }}
30. Can you tell me how many times in the past 4 weeks you used any form of physical discipline with your child?
{{ eva_quiz.dc_physical_discipline }}
31. In the past 4 weeks, how often did you say things about your child that upset him/her?
{{ eva_quiz.dc_upstet_child }}
<div class="" style="font-weight: 200; ;text-align: center;">
<h6 class="" style="color: dimgrey;"><b>5. DEALING WITH STRESSFUL LIVES AS PARENTS </b></h6>
</div>
32. Caring for your children sometimes takes more time and energy
than you have to give
{{ eva_quiz.sp_caring_energy }}
33. Your children are a major source of stress in your life
{{ eva_quiz.sp_source_stress }}
34. In order to bring up, raise, or educate a child properly, a child
needs to be physically punished
{{ eva_quiz.sp_physical_punish }}

<div class="" style="font-weight: 200; ;text-align: center;">
<h6 class="" style="color: dimgrey;"><b>6. FEELING SAD </b></h6>
</div>
<p class="" style="color: dimgrey;"></p>
35. How often in the past week have you felt depressed?
{{ eva_quiz.fs_depressed }}
36. How often in the past week have you felt that
everything you did was an effort?
{{ eva_quiz.fs_effort }}
37. How often in the past week have you felt hopeful for
the future?
{{ eva_quiz.fs_hopeful }}

<div class="" style="font-weight: 200; ;text-align: center;">
<h6 class="" style="color: dimgrey;"><b>7. FINANCES </b></h6>
</div>
38. In the past four weeks how many times have you run
out of money for something important like food or
fuel for cooking?
{{ eva_quiz.fi_money_important_items}}
39. In the past four weeks how many times were you
worried about money?
{{ eva_quiz.fi_worried_money }}</p>
