{% extends 'base.html' %}

{% load static %}
{% block page_title %} Mobile data Approval {% endblock %}

{% block style_code %}
<link href="{% static 'plugins/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/datatables/css/buttons.dataTables.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">

TEST USER



<style>
	a.svg: {
		text-decoration: none;
	}
	a.svg:hover {
		text-decoration: none;
	}
	a.svg:after {
	  content: "";
	  position: absolute;
	  top: 0;
	  right: 0;                                                                                                                                 
	  bottom: 0;
	  left: 0;

	}
    #approvalbuttons {
        display: flex;
        justify-content: end;
    }
    tr td {
        border: 0px solid black;
    }

    tr td div {
        {% comment %} display: inline-block; {% endcomment %}
    }
    table {
        color: black;
    }
    table tr:nth-child(even)  {
        background: #2d23235e !important;
        color: white;
    }
    .scheck {
        display: flex;
        justify-content: flex-end;
    }

</style>
{% endblock style_code%}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Mobile Data approval</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header" id="phead">
{% if lip_name %}
{{ lip_name }}
{% else %} 
National
{% endif %} - Mobile Data approval 
 </h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row bg-white">
    {% csrf_token %}
    <!-- Select button for the workflow -->
    <div class="row m-10">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label>CHV Name</label><br>
            <select multiple="multiple" id="my-select" name="my-select">
                <option value='' selected disabled>Select a a CHV (s)</option>
                {% for chv in chvs %}
                    <option value='{{ chv.cpims_chv_id }}'>{{ chv.name }}</option>
                {% endfor %}
            </select>
        </div>        
        <div class="col-md-3">
            <label>Form Name</label><br>
            <select id="my-select2" name="my-select">
                <option value='form1a'>Form 1 A</option>
                <option value='form1b'>Form 1 B</option>
                <option value='cpt'>Case Plan template</option>
                <option value='cpr'>CPARA</option>
            </select>
        </div>
        <div class="col-md-3">
            <label>Children name</label><br>
            <select multiple="multiple" id="my-select1" name="my-select">
                <option value='' selected disabled>Select a child(ren)</option>
               
            </select>
        </div>
        <div class="col-md-1">
            <label></label><br>
            <input onclick="fetchDataApp()" id="btnFilter" class="btn btn-warning m-5" type="button" value="Filter" />
        </div>
    </div>


    <!-- Staging area for approval -->
    <div class="row m-5">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-9">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						
					</div>
					<h4 class="panel-title">Forms Approval</h4>
				</div>
				<div class="panel-body">
                    <!-- <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <label>Comments</label><br>
                            <textarea id="app_comments" name="app_comments" rows="3" cols="100">
                               
                            </textarea>
                        </div>
                        <div class="col-md-4" id="approvalbuttons">
                            <input onclick="consolidatePost(this.id, 'approve')" id="btnApprove" class="btn btn-primary m-5" type="button" value="Approve" />
                            <input onclick="consolidatePost(this.id, 'reject')" id="btnReject" class="btn btn-danger m-5" type="button" value="Reject" />
                        </div> 
                    </div>   -->
                    <div class="row">
                        <div class="col-md-2">                        
                        </div>
                        <div class="col-md-8">
                            <p id="msg" style="width: 100%;"></p>
                        </div>
                        <div class="col-md-2">                           
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12" id="approvaltable">
                            <table id="Dataapproval">
                                <thead>
                                    <tr>
                                        <td style="width: 10%;">
                                            <!-- <input id="selectAl" type="checkbox" name="selectAll"><label class="m-5"> Select All</label> -->
                                        </td>
                                        <td style="width: 90%;">Data</td>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
				</div>
			</div>
        </div>
    </div>

    

    <!-- Modal start -->
    <div class="modal fade" id="modal-reports">
        <div class="modal-dialog">
            <div class="modal-content form-horizontal form-bordered">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Reports details - <span id="sdetails"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                            <table id="mydata" class="display" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Date Last Modified</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Date Last Modified</th>
                                        <th>Details</th>
                                    </tr>
                                </tfoot>
                            </table>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->
</div>
<!-- end row -->
{% endblock %}

{% block lazy_javascript_code %}
    <script src="{% static 'plugins/flot/jquery.flot.min.js' %}"></script>
    <script src="{% static 'plugins/flot/jquery.flot.pie.min.js' %}"></script>
	<script src="{% static 'plugins/flot/jquery.flot.stack.min.js' %}"></script>
    <script src="{% static 'js/curvedLines.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
    
    <script src="{% static 'plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/buttons.html5.min.js' %}"></script>
	<script>
        var dataTab;
		$(document).ready(function() {
            $("#my-select, #my-select1, #my-select2").multiselect(
                {
                    selectAllValue: 'multiselect-all',
                    includeSelectAllOption: true,
                    enableCaseInsensitiveFiltering: true,
                    numberDisplayed: 1,
                    maxHeight: 300,
                    buttonWidth: '100%',
                    buttonClass: 'btn btn-white'
                }
            )
            {% comment %} dataTab = $("#Dataapproval").DataTable({filter: false}) {% endcomment %}
        })            

    var ele=document.getElementsByName('selectOne');
    var allSelector = document.getElementsByName("selectAll")

    // select and deselect all
    $("input[name='selectAll']").click(function(){       
        if (allSelector[0].checked == true){
            for(var i=0; i<ele.length; i++){
                if(ele[i].type=='checkbox') 
                    ele[i].checked=true;
            }
        }else {
            for(var i=0; i<ele.length; i++){
                if(ele[i].type=='checkbox')
                    ele[i].checked=false;
            }
        }
    })
    // POST data function
    function postData(url, data){

        var csrfToken = $("input[name=csrfmiddlewaretoken]").val();      

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                }
            });
            var response = []
            $.post(url, { data: data }, function(responseap) {
                // Handle responseapp from Django backend if needed
                response.msg = responseap.message
                response.status = responseap.status
                //response.push(responseapp)
            });
            return response
    }

    // API comm to backend

    var respStatus = null;
    function apicall(urls, dataP, method){
        var response = new Object()
        $.ajax({
            type: method,
            url:  urls,
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            // contentType: "Application/json", ---> Do not use this
            dataType: "json",
            data: dataP,
        })
        .fail(function(message){
            console.error({error_submit: message})
            response = {... message}
            respStatus = 'error'
        })
        .done(function(data){
            console.log({success_post: data})
            response = {... data}
            respStatus = 'success'
        })
        console.log({response})
        return response
    }

    function consolidatePost(btnID, approval_type, form){
        //$("#"+btnID).click(function(){
            checked = [btnID]

            console.log({btnID, approval_type, checked})

            let datachecked = {
                "type": approval_type,
                "form": form,
                "data": btnID
            }
            if(checked.length >0 ){

                jsondatachecked = JSON.stringify(datachecked)
                console.log({checked,datachecked})    
                url = '{% url 'approvedata' %}'
                
                // var resp = apicall(url, datachecked , "POST")
                id_actoniond = `#payload_${btnID}`
                var payToPost = $(id_actoniond).val()
                if (approval_type === 'approve'){
                    var resp = apiPost(payToPost, form)
                    console.log({resp, id_actoniond, payToPost})

                    //if(resp){
                        pay_approve = {
                            "is_accepted": '2',
                            "message": ""
                        }
                    var resp_app = apiPost(JSON.stringify(pay_approve), form, btnID)
                    console.log({resp_app})
                    //}
                }else if (approval_type = 'reject'){
                    pay_reject = {
                        "is_accepted": '3',
                        "message": ""
                    }
                var resp_reject = apiPost(JSON.stringify(pay_reject), form, btnID)
                console.log({resp_reject})
                    
                }
                // postData(url, jsondatachecked)

                //if(respStatus === 'success'){
                    checked.forEach((check) => {
                        var rowtr = $("#Dataapproval").DataTable().row("#"+check+"_tr").remove().draw();
                        console.log({check, rowtr})
                    })
                    
                    var msg = "Data "+ approval_type +" successful"
                    sendFeedback(msg, "primary")
                    
                //}else {
                  //  alert("Error removing")
                // }

            }else {
                var msg = "No record has been selected"
                sendFeedback(msg, "danger")
                
                
            }
                
    


        //})
    }

    // CHV's change -- fetching children
    $("#my-select").change(function(){
        var chv_selected =  {"data": $(this).val()}
        console.log(chv_selected)

        if(chv_selected.data.length > 0){
            $('#my-select').css('border', '1px solid black');
            $("#my-select1").html("")
            $("#my-select1").append("<option value='' selected disabled>Select a child(rens)</option>")
            urls = '{% url 'fetch_child' %}'
            // var get_children = apicall(urls, chv_selected, "POST")
            $.ajax({
                type: "POST",
                url:  urls,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                // contentType: "Application/json", ---> Do not use this
                dataType: "json",
                data: chv_selected,
            })
            .fail(function(message){
                console.error({error_submit: message})
            })
            .done(function(data){
                console.log({success_post: data})

                var multiselect_data = [];
                //multiselect_data.push({label: 'Please Select', value: ''});
                var multiselect_dict = {};
                data.map((child) => {
                    var multiselect_dict = { label: child.name, value: child.cpims_ovc_id };
                    multiselect_data.push(multiselect_dict);
                    });

                    

                    //add multi-select data
                    $('#my-select1').multiselect('destroy');
                    $('#my-select1').multiselect({
                            selectAllValue: 'multiselect-all',
                            enableCaseInsensitiveFiltering: true,
                            numberDisplayed: 1,
                            maxHeight: 300,
                            buttonWidth: '100%',
                            buttonClass: 'btn btn-white',
                            nonSelectedText: 'Please Select'
                        });
                    $('#my-select1').empty();
                    $('#my-select1').multiselect('dataprovider', multiselect_data);

            })
        }else{
            $('#my-select').css('border', '1px solid red');
        }
        
    })


    function fetchDataApp(){
        let chvs = $("#my-select").val()
        let form = $("#my-select2").val()
        let childs = $("#my-select1").val()
        let comments = $("#app_comments").val()
        // table = $("#Dataapproval").DataTable()
        $("#Dataapproval").DataTable().clear()
        console.log({chvs, form, childs})
        if(chvs.length>0 && form != "" && ( childs != null)){
            let child = childs[0]
            
            let s_url
            if (form === 'cpt'){
                // s_url = '{% url 'get-one-cpt-record' 54 %}'
                s_url = `cpt/${child}`
            }
            if (form === 'cpr'){
                s_url = `cpara/${child}`
            }
            if (form ==='form1a'){
                s_url = `forms/F1A/${child}`
            }
            if (form === 'form1b'){
                s_url = `forms/F1B/${child}`
            }
            
            console.log({chvs, form, child, s_url})
            $.ajax({
                type: "GET",
                url:  s_url,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
            })
            .fail(function(message){
                console.error({error_submit: message})
                
            })
            .done(function(data){
                console.log({success_post: data})
                $("#Dataapproval").DataTable().destroy()
                if(form === 'form1a' ){
                    var ta_trs = ""
                    for (dta in data){
                        // console.log({dta, data})
                        for (serv in data[dta].services ){
                            let cpt = data[dta]
                            let service = cpt.services[serv]
                            // console.log({dta, data, service})
                            let payload  = JSON.stringify({
                                'ovc_cpims_id': cpt.ovc_cpims_id,
                                'date_of_event': cpt.date_of_event,
                                'services': [
                                  {
                                    'domain_id': service.domain_id,
                                    'service_id': service.service_id
                                  }]
                            })
                        $("#Dataapproval tbody").append(`<tr id="${service.id}_tr" class="datarows">
                                <td style="width: 10%;" class="scheck">
                                    {% comment %} <input id="${cpt.event_id}" type="checkbox" name="selectOne"> {% endcomment %}
                                </td>
                                <td style="width: 90%;" class="">
                                    <p>Form: FORM 1A : Child OVC ID: <b style="color:red;">  ${cpt.ovc_cpims_id} </b>| Date of event - ${data[dta].date_of_event}</p>
                                    <div class="row">
                                        <div clas="col-md-1">
                                            ${service.domain_id} : ${service.service_id}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p>
           
                                            </p>
                                        </div>
                                        <div class="col-md-2" id="approvalbuttons">
                                            <input onclick="consolidatePost(this.id, 'approve', 'F1A')" id="${service.id}" class="btnApprove btn btn-primary m-5" type="button" value="Approve" />
                                            <input onclick="consolidatePost(this.id, 'reject', 'F1A')" id="${service.id}" class="btnReject btn btn-danger m-5" type="button" value="Reject" />
                                        </div>
                                    </div>
                                    <div class="row" hidden>
                                        <div class="col-md-12">
                                            <input type="input" id="payload_${service.id}" value='${payload}'>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        `);  
                        }   
                        
                    }
                    
                           
                }else if(form === 'form1b' ){
                    var ta_trs = ""
                    for (dta in data){
                        // console.log({dta, data})
                        for (serv in data[dta].services ){
                            // console.log({dta, data})
                            let cpt = data[dta]
                            let service = cpt.services[serv]
                            let payload  = JSON.stringify({
                                "ovc_cpims_id": cpt.ovc_cpims_id,
                                "date_of_event": cpt.date_of_event,
                                "services": [
                                  {
                                    "domain_id": service.domain_id,
                                    "service_id": service.service_id
                                  }]
                            })
                        $("#Dataapproval tbody").append(`<tr id="${service.id}_tr" class="datarows">
                                <td style="width: 10%;" class="scheck">
                                    {% comment %} <input id="${cpt.event_id}" type="checkbox" name="selectOne"> {% endcomment %}
                                </td>
                                <td style="width: 90%;" class="">
                                    <p>Form: FORM 1B : Child OVC ID: <b style="color:red;">  ${cpt.ovc_cpims_id} </b>| Date of event - ${data[dta].date_of_event}</p>
                                    <div class="row">
                                        <div clas="col-md-1">
                                            ${service.domain_id} : ${service.service_id}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p>
                        
                                            
                                            </p>
                                        </div>
                                        <div class="col-md-2" id="approvalbuttons">
                                            <input onclick="consolidatePost(this.id, 'approve', 'F1B')" id="${service.id}" class="btnApprove btn btn-primary m-5" type="button" value="Approve" />
                                            <input onclick="consolidatePost(this.id, 'reject', 'F1B')" id="${service.id}" class="btnReject btn btn-danger m-5" type="button" value="Reject" />
                                        </div>
                                    </div>
                                    <div class="row" hidden>
                                        <div class="col-md-12">
                                            <input id="payload_${service.id}" value='${payload}''>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        `);  
                        }                
                        
                    }
                }else if(form === 'cpt' ){
                    var ta_trs = ""
                    for (dta in data){
                        for (serv in data[dta].services ){
                            // console.log({dta, data})
                            let cpt = data[dta]
                            let service = cpt.services[serv]
                            let payload  = JSON.stringify({
                                "ovc_cpims_id": cpt.ovc_cpims_id,
                                "date_of_event": cpt.date_of_event,
                                "services": [
                                  {
                                    "domain_id": service.domain_id,
                                    "service_id": service.service_id,
                                    "goal_id": service.goal_id,
                                    "gap_id": service.gap_id,
                                    "priority_id": service.priority_id,
                                    "responsible_id": service.responsible_id,
                                    "results_id": service.results_id,
                                    "reason_id": service.reason_id,
                                    "completion_date": service.completion_date,
                                  }]
                            })
                        $("#Dataapproval tbody").append(`<tr id="${service.id}_tr" class="datarows">
                                <td style="width: 10%;" class="scheck">
                                    {% comment %} <input id="${cpt.event_id}" type="checkbox" name="selectOne"> {% endcomment %}
                                </td>
                                <td style="width: 90%;" class="">
                                    <p>Form: Case Plan Template : Child OVC ID: <b style="color:red;">  ${cpt.ovc_cpims_id} </b>| Date of event - ${data[dta].date_of_event}</p>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p>
                                                 Domain:    ${service['domain_id']} |
                                                 Service:    ${service['service_id']} |
                                                 Goal:    ${service['goal_id']} |
                                                 Gap:    ${service['gap_id']} |
                                                 Priority:    ${service['priority_id']} |
                                            
                                                 Responsible:    ${service['responsible_id']} |
                                                 Results:    ${service['results_id']} |
                                                 Reason:    ${service['reason_id']} |
                                                 Completion Date:    ${service['completion_date']} |
                                            
                                            </p>
                                        </div>
                                    </div>
                                        <div class="col-md-2" id="approvalbuttons">
                                            <input onclick="consolidatePost(this.id, 'approve', 'CPT')" id="${service.id}" class="btnApprove btn btn-primary m-5" type="button" value="Approve" />
                                            <input onclick="consolidatePost(this.id, 'reject', 'CPT')" id="${service.id}" class="btnReject btn btn-danger m-5" type="button" value="Reject" />
                                        </div>
                                    
                                    <div class="row" hidden>
                                        <div class="col-md-12">
                                            <input type="input" id="payload_${service.id}" value='${payload}'>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        `);  
                        }                
                        
                    }
                    
                                      
                    
                }else if(form === 'cpr' ){
                    var ta_trs = ""
                    for (dta in data){
                        let data_indx = data[dta]
                        // console.log({dta, data, data_indx})
                        let scores  = data[dta].scores
                        let individual  = data[dta].individuals_questions
                        let questions  = data[dta].questions
                        let slice_question = questions.slice(0,3)
                        

                        let payload = JSON.stringify(data_indx)

                        let html_question = ''
                        let quiz_map = {}
                        {% for quiz in quizzes %}
                            quiz_map['{{quiz.code}}'] = '{{ quiz.question_text}}'
                        {% endfor %}

                        for (quiz in slice_question){
                            console.log({quiz, slice_question})
                            html_question += `
                            <div>
                                ${slice_question[quiz].question_code}: ${slice_question[quiz].answer_id}
                            </div>
                            `}
                        let modal_html_question = ''
                        for (quiz in questions){
                            let question_code = questions[quiz].question_code
                            let question_answer = questions[quiz].answer_id
                            let question_code_val = quiz_map[question_code]

                            
                            console.log({quiz, questions, quiz_map, question_code_val})
                            modal_html_question += `
                                    <div class="col-md-4">
                                        ${question_code_val}: ${question_answer}
                                    </div>
                        `}
                        // alert('jane')
                        $("#Dataapproval tbody").append(`<tr id="${data_indx.event_id}_tr" class="datarows" data-toggle="modal" data-target="#${data_indx.event_id}">
                                <td style="width: 10%;" class="scheck">
                                    
                                </td>
                                <td style="width: 90%;">
                                    <p>Form: CPARA : Child OVC ID: <b style="color:red;">  ${data[dta].ovc_cpims_id} </b>| Date of event - ${data[dta].date_of_event}</p>
                                    <b><u> Questions</u></b> <br>
                                    <div id="cpara_quiz">
                                        <div class="row">
                                            ${ html_question }
                                        </div>
                                    </div>
                                        <br>
                                        <b><u> Scores</u></b> <br>
                                        
                                            Benchmark 1:    <b style='color: red'> ${scores.b1}  </b>
                                            Benchmark 2:    <b style='color: red'> ${scores.b2}  </b>
                                            Benchmark 3:    <b style='color: red'> ${scores.b3}  </b>
                                            Benchmark 4:    <b style='color: red'> ${scores.b4}  </b>
                                            Benchmark 5:    <b style='color: red'> ${scores.b5} </b>
                                            Benchmark 6:    <b style='color: red'> ${scores.b6}  </b>
                                            Benchmark 7:    <b style='color: red'> ${scores.b7}  </b>
                                            Benchmark 8:    <b style='color: red'> ${scores.b8}  </b>
                                            Benchmark 9:    <b style='color: red'> ${scores.b9}  </b>
                                        
                                        <br>
                                        <div class="row" hidden>
                                            <div class="col-md-12">
                                                <input type='input' id="payload_${data_indx.event_id}" value='${payload}'>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="${data_indx.event_id}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                        <h4 class="modal-title">
                                                            <p>Form: CPARA : Child OVC ID: <b style="color:red;">  ${data[dta].ovc_cpims_id} </b>| Date of event - ${data[dta].date_of_event}</p>
                                                        </h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <b><u> CPARA Questions </u></b> <br>
                                                        ${modal_html_question}

                                                        <hr>
                                                        <b><u> Scores</u></b> <br>
                                                        
                                                            Benchmark 1:    <b style='color: red'> ${scores.b1}  </b>
                                                            Benchmark 2:    <b style='color: red'> ${scores.b2}  </b>
                                                            Benchmark 3:    <b style='color: red'> ${scores.b3}  </b>
                                                            Benchmark 4:    <b style='color: red'> ${scores.b4}  </b>
                                                            Benchmark 5:    <b style='color: red'> ${scores.b5}  </b>
                                                            Benchmark 6:    <b style='color: red'> ${scores.b6}  </b>
                                                            Benchmark 7:    <b style='color: red'> ${scores.b7}  </b>
                                                            Benchmark 8:    <b style='color: red'> ${scores.b8}  </b>
                                                            Benchmark 9:    <b style='color: red'> ${scores.b9}  </b>
                                                            Total:    <b style='color: red'> ${parseInt(scores.b1) +parseInt(scores.b2) +parseInt(scores.b3) +parseInt(scores.b4) +parseInt(scores.b5) +parseInt(scores.b6) +parseInt(scores.b7) +parseInt(scores.b8) +parseInt(scores.b9)}  </b>

                                                            <hr><b><u> Sub Population </u></b> <br>
                                                            
                                                        
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="col-md-2" id="approvalbuttons">
                                                            <input onclick="consolidatePost(this.id, 'approve', 'CPR')" id="${data_indx.event_id}" class="btnApprove btn btn-primary m-5" data-dismiss="modal" type="button" value="Approve" />
                                                            <input onclick="consolidatePost(this.id, 'reject', 'CPR')" id="${data_indx.event_id}" class="btnReject btn btn-danger m-5" data-dismiss="modal" type="button" value="Reject" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        `);
                        

                        
                    }
                    
                           
                }

                $("#Dataapproval").DataTable().draw()
            })

        }else{
            var msg = ""
            if(chvs.length===0 && childs==undefined){
                msg = "CHV and Child not selected"
            }if(chvs.length===0){
                msg = "CHV not selected"
            }if(childs=== null){
                msg = "Child not selected"
            }
            sendFeedback(msg, "danger")
        }
    }

    function apiPost(payload, form_id, f_uid){
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("Authorization", "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjk1ODQ0ODI4LCJpYXQiOjE2OTU4NDEyMjgsImp0aSI6ImRhMjA1MTExYzk3OTQ0YWNiNWRkYzJlNTY1MDdlOTQ5IiwidXNlcl9pZCI6Mzk2Nn0.bXpQysxo717lUmEU3rBDDZinRxygCgg3HboFF7GCgT4");
        myHeaders.append("X-CSRFToken", "{{ csrf_token }}");

        console.log({payload})

        var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: payload,
        redirect: 'follow'
        };
        if(f_uid == undefined){
            
            url = `/api/form/${form_id}/`
        }else {
            if (form_id=="F1A"){
                url = `/mobile/forms/update/${f_uid}`
            }
            if (form_id=="F1B"){
                url = `/mobile/forms/update/${f_uid}`
            }
            if (form_id=="CPT"){
                url = `/mobile/cpt/update/${f_uid}`
            }
            if (form_id=="CPR"){
                url = `/mobile/cpara/update/${f_uid}`
            }
        }


        fetch(url, requestOptions)
        .then(response => response.text())
        .then(result => {
            console.log(result)
            // var msg = "Data "+ approval_type +" successful"
            var msg = result.details || "Successful"
                    sendFeedback(msg, "primary")
        
        })
        .catch(error => console.log('error', error));
    }

    // to output messages to the front end 
    function sendFeedback(msg, class_type){
        $("#msg").removeClass()
                $("#msg").addClass('alert alert-'+class_type+'')
                $("#msg").html(msg)
                setTimeout(function() {
                    $('#msg').addClass('hidden')
                }, 4000);
    }
        


 
</script>
{% endblock %}
