{% extends 'base.html' %}

{% load static %}
{% block page_title %} Mobile data Approval {% endblock %}

{% block style_code %}
<link href="{% static 'plugins/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/datatables/css/buttons.dataTables.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">


<style>
	a.svg: {
		text-decoration: none;
	}
	a.svg:hover {
		text-decoration: none;
	}
	a.svg:after {
	  content: "";
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;

	}
    #approvalbuttons {
        display: flex;
        justify-content: end;
    }
    tr td {
        border: 0px solid black;
    }

    tr td div {
        {% comment %} display: inline-block; {% endcomment %}
    }
    table {
        color: black;
    }
    table tr:nth-child(even)  {
        background: #2d23235e !important;
        color: white;
    }
    .scheck {
        display: flex;
        justify-content: flex-end;
    }

</style>
{% endblock style_code%}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Mobile Data approval</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header" id="phead">
{% if lip_name %}
{{ lip_name }}
{% else %} 
National
{% endif %} - Mobile Data approval 
 </h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row bg-white">
    {% csrf_token %}
    <!-- Select button for the workflow -->
    <div class="row m-10">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label>CHV Name</label><br>
            <select multiple="multiple" id="my-select" name="my-select">
                <option value='elem_1' selected disabled>Select a a CHV (s)</option>
                {% for chv in chvs %}
                    <option value='{{ chv.cpims_chv_id }}'>{{ chv.name }}</option>
                {% endfor %}
            </select>
        </div>        
        <div class="col-md-3">
            <label>Form Name</label><br>
            <select id="my-select2" name="my-select">
                <option value='form1a'>Form 1 A</option>
                <option value='form1b'>Form 1 B</option>
                <option value='cpt'>Case Plan template</option>
                <option value='cpr'>CPARA</option>
            </select>
        </div>
        <div class="col-md-3">
            <label>Children name</label><br>
            <select multiple="multiple" id="my-select1" name="my-select">
                <option value='' selected disabled>Select a child(ren)</option>
               
            </select>
        </div>
        <div class="col-md-1">
            <label></label><br>
            <input onclick="fetchDataApp()" id="btnFilter" class="btn btn-warning m-5" type="button" value="Filter" />
        </div>
    </div>


    <!-- Staging area for approval -->
    <div class="row m-5">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-9">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						
					</div>
					<h4 class="panel-title">Forms Approval</h4>
				</div>
				<div class="panel-body">
                    <!-- <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <label>Comments</label><br>
                            <textarea id="app_comments" name="app_comments" rows="3" cols="100">
                               
                            </textarea>
                        </div>
                        <div class="col-md-4" id="approvalbuttons">
                            <input onclick="consolidatePost(this.id, 'approve')" id="btnApprove" class="btn btn-primary m-5" type="button" value="Approve" />
                            <input onclick="consolidatePost(this.id, 'reject')" id="btnReject" class="btn btn-danger m-5" type="button" value="Reject" />
                        </div> 
                    </div>   -->
                    <div class="row">
                        <div class="col-md-2">                        
                        </div>
                        <div class="col-md-8">
                            <p id="msg" style="width: 100%;"></p>
                        </div>
                        <div class="col-md-2">                           
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12" id="approvaltable">
                            <table id="Dataapproval">
                                <thead>
                                    <tr>
                                        <td style="width: 10%;">
                                            <!-- <input id="selectAl" type="checkbox" name="selectAll"><label class="m-5"> Select All</label> -->
                                        </td>
                                        <td style="width: 90%;">Data</td>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
				</div>
			</div>
        </div>
    </div>

    

    <!-- Modal start -->
    <div class="modal fade" id="modal-reports">
        <div class="modal-dialog">
            <div class="modal-content form-horizontal form-bordered">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Reports details - <span id="sdetails"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                            <table id="mydata" class="display" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Date Last Modified</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Date Last Modified</th>
                                        <th>Details</th>
                                    </tr>
                                </tfoot>
                            </table>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->
</div>
<!-- end row -->
{% endblock %}

{% block lazy_javascript_code %}
    <script src="{% static 'plugins/flot/jquery.flot.min.js' %}"></script>
    <script src="{% static 'plugins/flot/jquery.flot.pie.min.js' %}"></script>
	<script src="{% static 'plugins/flot/jquery.flot.stack.min.js' %}"></script>
    <script src="{% static 'js/curvedLines.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
    
    <script src="{% static 'plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/buttons.html5.min.js' %}"></script>
	<script>
        var dataTab;
		$(document).ready(function() {
            $("#my-select, #my-select1, #my-select2").multiselect(
                {
                    selectAllValue: 'multiselect-all',
                    includeSelectAllOption: true,
                    enableCaseInsensitiveFiltering: true,
                    numberDisplayed: 1,
                    maxHeight: 300,
                    buttonWidth: '100%',
                    buttonClass: 'btn btn-white'
                }
            )
            {% comment %} dataTab = $("#Dataapproval").DataTable({filter: false}) {% endcomment %}
        })            

    var ele=document.getElementsByName('selectOne');
    var allSelector = document.getElementsByName("selectAll")

    // select and deselect all
    $("input[name='selectAll']").click(function(){       
        if (allSelector[0].checked == true){
            for(var i=0; i<ele.length; i++){
                if(ele[i].type=='checkbox') 
                    ele[i].checked=true;
            }
        }else {
            for(var i=0; i<ele.length; i++){
                if(ele[i].type=='checkbox')
                    ele[i].checked=false;
            }
        }
    })
    // POST data function
    function postData(url, data){

        var csrfToken = $("input[name=csrfmiddlewaretoken]").val();      

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                }
            });
            var response = []
            $.post(url, { data: data }, function(responseap) {
                // Handle responseapp from Django backend if needed
                response.msg = responseap.message
                response.status = responseap.status
                //response.push(responseapp)
            });
            return response
    }

    // API comm to backend

    var respStatus = null;
    function apicall(urls, dataP, method){
        var response = new Object()
        $.ajax({
            type: method,
            url:  urls,
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            // contentType: "Application/json", ---> Do not use this
            dataType: "json",
            data: dataP,
        })
        .fail(function(message){
            console.error({error_submit: message})
            response = {... message}
            respStatus = 'error'
        })
        .done(function(data){
            console.log({success_post: data})
            response = {... data}
            respStatus = 'success'
        })
        console.log({response})
        return response
    }

    function consolidatePost(btnID, approval_type, form){
        //$("#"+btnID).click(function(){
            checked = [btnID]
            {% comment %} var selectcedSelectOne = $("input[name=selectOne]")
            for (j=0; j<selectcedSelectOne.length; j++){
                id = selectcedSelectOne[j].id
                if ($("input[id="+id+"]").prop('checked')){
                    selectcedSelectOne
                    checked.push(selectcedSelectOne[j].id)
                }
            } {% endcomment %}
            console.log({btnID, approval_type, checked})
            if(checked.length >0){

                datachecked = {
                    "data": checked,
                    "type": approval_type,
                    "form": form,
                    "is_accepted": null
                }
                jsondatachecked = JSON.stringify(datachecked)
                console.log({checked,datachecked})    
                url = '{% url 'approvedata' %}'
                // var resp = postData(url, jsondatachecked)
                // var resp = apicall(url, datachecked , "POST")
                id_actoniond = `#payload_${btnID}`
                var payToPost = $(id_actoniond)
                var resp = apiPost(JSON.stringify(payToPost))
                console.log({resp})

                //if(respStatus === 'success'){
                    checked.forEach((check) => {
                        var rowtr = $("#Dataapproval").DataTable().row("#"+check+"_tr").remove().draw();
                        console.log({check, rowtr})
                    })
                    
                    var msg = "Data "+ approval_type +" successful"
                    sendFeedback(msg, "primary")
                    
                //}else {
                  //  alert("Error removing")
                // }

            }else {
                var msg = "No record has been selected"
                sendFeedback(msg, "danger")
                
            }
                
        //})
    }

    // CHV's change -- fetching children
    $("#my-select").change(function(){
        var chv_selected =  {"data": $(this).val()}
        console.log(chv_selected)

        if(chv_selected.data.length > 0){
            $('#my-select').css('border', '1px solid black');
            $("#my-select1").html("")
            $("#my-select1").append("<option value='' selected disabled>Select a child(rens)</option>")
            urls = '{% url 'fetch_child' %}'
            // var get_children = apicall(urls, chv_selected, "POST")
            $.ajax({
                type: "POST",
                url:  urls,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                // contentType: "Application/json", ---> Do not use this
                dataType: "json",
                data: chv_selected,
            })
            .fail(function(message){
                console.error({error_submit: message})
            })
            .done(function(data){
                console.log({success_post: data})

                var multiselect_data = [];
                //multiselect_data.push({label: 'Please Select', value: ''});
                var multiselect_dict = {};
                data.map((child) => {
                    var multiselect_dict = { label: child.name, value: child.cpims_ovc_id };
                    multiselect_data.push(multiselect_dict);
                    });

                    

                    //add multi-select data
                    $('#my-select1').multiselect('destroy');
                    $('#my-select1').multiselect({
                            selectAllValue: 'multiselect-all',
                            enableCaseInsensitiveFiltering: true,
                            numberDisplayed: 1,
                            maxHeight: 300,
                            buttonWidth: '100%',
                            buttonClass: 'btn btn-white',
                            nonSelectedText: 'Please Select'
                        });
                    $('#my-select1').empty();
                    $('#my-select1').multiselect('dataprovider', multiselect_data);

            })
        }else{
            $('#my-select').css('border', '1px solid red');
        }
        
    })


    function fetchDataApp(){
        chvs = $("#my-select").val()
        form = $("#my-select2").val()
        child = $("#my-select1").val()[0]
        comments = $("#app_comments").val()
        // table = $("#Dataapproval").DataTable()

        console.log({chvs, form, child})
        if(chvs.length>0 && form != "" && ( child != null)){
            
            let s_url
            if (form = 'cpt'){
                s_url = '{% url 'get-one-cpt-record' 54 %}'
            }else if (form = 'cpr'){
                s_url = '{% url 'fetch_data' %}'
            }
            else if (form = 'form1a'){
                s_url = '{% url 'fetch_data' %}'
            }
            else if (form = 'form1b'){
                s_url = '{% url 'fetch_data' %}'
            }
            
            $.ajax({
                type: "GET",
                url:  s_url,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
            })
            .fail(function(message){
                console.error({error_submit: message})
                
            })
            .done(function(data){
                console.log({success_post: data})
                $("#Dataapproval").DataTable().destroy()
                if(form === 'form1a' ){
                    var ta_trs = ""
                    for (dta in data){
                        console.log({dta, data})
                        $("#Dataapproval tbody").append(`<tr id="${data[dta].id}_tr" class="datarows">
                            <td style="width: 10%;" class="scheck">
                                <input id="${data[dta].id}" type="checkbox" name="selectOne">
                            </td>
                            <td style="width: 90%;" class="">
                               <div class="row">
                                <div class="col-md-4">
                                    Newton
                                </div>
                                <div class="col-md-4">
                                    Boniface
                                </div>
                                <div class="col-md-4">
                                    Jane
                                </div>
                               </div>

                            </td>
                            </tr>
                        `);                   
                        
                    }
                    
                           
                }else if(form === 'form1b' ){
                    var ta_trs = ""
                    for (dta in data){
                        console.log({dta, data})
                        $("#Dataapproval tbody").append(`<tr id="${data[dta].id}_tr" class="datarows">
                            <td style="width: 10%;" class="scheck">
                                <input id="${data[dta].id}" type="checkbox" name="selectOne">
                            </td>
                            <td style="width: 90%;" class="">
                                <p>Form: Form 1B : Child Name: <b style="color:red;">  ${data[dta].name} </b>| Date of event -${data[dta].date_of_event}</p>
                                <p>
                                    <div class="col-mod-2"> Domain:    ${data[dta].domain_id} | </div>
                                    <div class="col-mod-2"> Service:    ${data[dta].service_id} | </div>
                                    <div class="col-mod-2"> Message:    ${data[dta].message} | </div>
                  
                                </p <br>

                            </td>
                            </tr>
                        `);                 
                        
                    }
                }else if(form === 'cpt' ){
                    var ta_trs = ""
                    for (dta in data){
                        for (serv in data[dta].services ){
                            console.log({dta, data})
                            let cpt = data[dta]
                            let service = cpt.services[serv]
                            let payload  = JSON.stringify({
                                "ovc_cpims_id": cpt.ovc_cpims_id,
                                "date_of_event": cpt.date_of_event,
                                "services": [
                                  {
                                    "domain_id": service.domain_id,
                                    "service_id": service.service_id,
                                    "goal_id": service.goal_id,
                                    "gap_id": service.gap_id,
                                    "priority_id": service.priority_id,
                                    "responsible_id": service.responsible_id,
                                    "results_id": service.results_id,
                                    "reason_id": service.reason_id,
                                    "completion_date": service.completion_date,
                                  }]
                            })
                        $("#Dataapproval tbody").append(`<tr id="${service.id}_tr" class="datarows">
                                <td style="width: 10%;" class="scheck">
                                    {% comment %} <input id="${cpt.event_id}" type="checkbox" name="selectOne"> {% endcomment %}
                                </td>
                                <td style="width: 90%;" class="">
                                    <p>Form: Case Plan Template : Child OVC ID: <b style="color:red;">  ${cpt.ovc_cpims_id} </b>| Date of event - ${data[dta].date_of_event}</p>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <p>
                                                 Domain:    ${service['domain_id']} |
                                                 Service:    ${service['service_id']} |
                                                 Goal:    ${service['goal_id']} |
                                                 Gap:    ${service['gap_id']} |
                                                 Priority:    ${service['priority_id']} |
                                            
                                                 Responsible:    ${service['responsible_id']} |
                                                 Results:    ${service['results_id']} |
                                                 Reason:    ${service['reason_id']} |
                                                 Completion Date:    ${service['completion_date']} |
                                            
                                            </p>
                                        </div>
                                        <div class="col-md-2" id="approvalbuttons">
                                            <input onclick="consolidatePost(this.id, 'approve', 'cpt')" id="${service.id}" class="btnApprove btn btn-primary m-5" type="button" value="Approve" />
                                            <input onclick="consolidatePost(this.id, 'reject', 'cpt')" id="${service.id}" class="btnReject btn btn-danger m-5" type="button" value="Reject" />
                                        </div>
                                    </div>
                                    <div class="row" hidden>
                                        <div class="col-md-12">
                                            <p id="payload_${service.id}">"${payload}"<p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        `);  
                        }                
                        
                    }
                    
                                      
                    
                }else if(form === 'cpr' ){
                    var ta_trs = ""
                    for (dta in data){
                        console.log({dta, data})
                        // alert('jane')
                        $("#Dataapproval tbody").append(`<tr id="${data[dta].id}_tr" class="datarows">
                                <td style="width: 10%;" class="scheck">
                                    <input id="${data[dta].id}" type="checkbox" name="selectOne">
                                </td>
                                <td style="width: 90%;" class="">
                                    <p> <b>CPARA</b> - ${data[dta].name}</p>
                                    Scores <br>
                                    <p>
                                        <div class="col-mod-2"> Benchmark 1:    ${data[dta].b1} | </div>
                                        <div class="col-mod-2"> Benchmark 2:    ${data[dta].b2} | </div>
                                        <div class="col-mod-2"> Benchmark 3:    ${data[dta].b3} | </div>
                                        <div class="col-mod-2"> Benchmark 4:    ${data[dta].b4} | </div>
                                        <div class="col-mod-2"> Benchmark 5:    ${data[dta].b5} | </div>
                                    
                                        <div class="col-mod-2"> Benchmark 6:    ${data[dta].b6} | </div>
                                        <div class="col-mod-2"> Benchmark 7:    ${data[dta].b7} | </div>
                                        <div class="col-mod-2"> Benchmark 8:    ${data[dta].b8} | </div>
                                        <div class="col-mod-2"> Benchmark 9:    ${data[dta].b9} | </div>
                                        <div class="col-mod-2">
                                            <div class="col-md-2" id="approvalbuttons">
                                                <input onclick="consolidatePost(this.id, 'approve', 'cpt', ${data[dta].id})" id="btnApprove" class="btn btn-primary m-5" type="button" value="Approve" />
                                                <input onclick="consolidatePost(this.id, 'reject', 'cpt', ${data[dta].id})" id="btnReject" class="btn btn-danger m-5" type="button" value="Reject" />
                                            </div>
                                        </div>
                                    </p
                                </td>
                            </tr>
                        `);                  
                        
                    }
                    
                           
                }

                $("#Dataapproval").DataTable().draw()
            })

        }else{
            var msg = ""
            if(chvs.length===0 && child.length===0){
                msg = "CHV and Child not selected"
            }if(chvs.length===0){
                msg = "CHV not selected"
            }if(child=== null){
                msg = "Child not selected"
            }
            sendFeedback(msg, "danger")
        }
    }

    function apiPost(payload){
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        myHeaders.append("Authorization", "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjk1ODQ0ODI4LCJpYXQiOjE2OTU4NDEyMjgsImp0aSI6ImRhMjA1MTExYzk3OTQ0YWNiNWRkYzJlNTY1MDdlOTQ5IiwidXNlcl9pZCI6Mzk2Nn0.bXpQysxo717lUmEU3rBDDZinRxygCgg3HboFF7GCgT4");
        myHeaders.append("X-CSRFToken", "{{ csrf_token }}");

        var requestOptions = {
        method: 'POST',
        headers: myHeaders,
        body: payload,
        redirect: 'follow'
        };

        fetch("/api/form/CPT/", requestOptions)
        .then(response => response.text())
        .then(result => {
            console.log(result)
            // var msg = "Data "+ approval_type +" successful"
            var msg = result.details || "Successful"
                    sendFeedback(msg, "primary")
        
        })
        .catch(error => console.log('error', error));
    }

    // to output messages to the front end 
    function sendFeedback(msg, class_type){
        $("#msg").removeClass()
                $("#msg").addClass('alert alert-'+class_type+'')
                $("#msg").html(msg)
                setTimeout(function() {
                    $('#msg').addClass('hidden')
                }, 4000);
    }
        


 
</script>
{% endblock %}
