{% extends 'base.html' %}
{% load app_filters %}
{% load static %}
{% block page_title %} HES Form {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}

<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Forms</li>
</ol>
<!-- end breadcrumb -->

<!-- begin page-header -->

{% for data in init_data %}

<h1 class="page-header">Forms
    <small>HES  Form <b>
{#        {{care_giver}} || {{care_giver.sex_id|gen_value:vals }}#}
{#        <!-- {{ data.first_name }} {{ data.surname }} |#}
{#            {% if data.date_of_birth|gen_age == 0 %}#}
{#            UNDER 1 YEAR#}
{#            {% else %}#}
{#            {{ data.date_of_birth|gen_age }} YRS#}
{#            {% endif %} -->#}
        </b></small>
</h1>

{% endfor %}
<!-- end page-header -->

<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span class="invalid-form-message" id="invalid-form-message"></span>
</div>

<!-- begin row -->
<div id='case_details' class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i
                            class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i
                            class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"> HES</h4>
            </div>
        <div style="overflow-x: auto; min-height: 300px;">
            <div class="panel-body">
                <form class="form-horizontal form-bordered hes" action="." method="POST" data-parsley-validate="true"
                    name="form-new-hes" id="form_new_hes">
                    {% csrf_token %}
                    <div id="wizard-hes">
                        <ol>

                            <li>
                                HES Options
                                <small>HES Options</small>
                            </li>
                            <li>
                                Consumption support
                                <small>Consumption support </small>
                            </li>
                            <li>
                                Asset Growth
                                <small>Asset Growth </small>
                            </li>
                            <li>
                                Income Growth
                                <small>Income Growth</small>
                            </li>
                        </ol>

                        {{ form.person }}
                        {{ form.household_id }}


                        <!-- begin wizard step-1 -->

                        <div class="wizard-step-1">
                                        <fieldset>
                                            <legend class="pull-left width-full">HES Options</legend>
                                                 <div class="form-group  ">
                                                    <label class="control-label col-md-4 col-sm-4 " >Employement Status: <span class="asteriskField">*</span></label>
                                                    <div class="col-md-6 col-sm-6 employment_status" id="employment-status">
                                                        {{ form.employment_status}}
                                                    </div>
                                                 </div>
                                                <div class="form-group employment-type " id="employment-type" data-parsley-required="false"  >
                                                    <label class="control-label col-md-4 col-sm-4" >Type of Employement :</label>
                                                    <div class="col-md-6 col-sm-6" >
                                                        {{ form.type_of_employment}}
                                                    </div>
                                                 </div>
                                                <div  class="form-group ">
                                                    <label class="control-label col-md-4 col-sm-4 have_health_scheme" id="have_health_scheme" > Have Health Scheme? <span class="asteriskField">*</span> </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.have_health_scheme }}
                                                    </div>
                                                </div>
                                                     <div  class="form-group health_scheme" id="health_scheme">
                                                    <label class="control-label col-md-4 col-sm-4" > Type Health Scheme:  </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.health_scheme }}
                                                    </div>
                                                </div>
                                                     <div  class="form-group ">
                                                    <label class="control-label col-md-4 col-sm-4" > Kitchen Garden: <span class="asteriskField">*</span> </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.kitchen_garden }}
                                                    </div>
                                                </div>
                                                <div  class="form-group ">
                                                    <label class="control-label col-md-4 col-sm-4" > Have Social Safety Nets? <span class="asteriskField">*</span> </label>
                                                    <div class="col-md-6 col-sm-6" id="social_safety_nets">
                                                        {{ form.social_safety_nets }}
                                                    </div>
                                                     </div>
                                                     <div  class="form-group social_safety_nets" id="social_safety_nets_type">
                                                    <label class="control-label col-md-4 col-sm-4" > Social Safety Nets Type:  </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.social_safety_nets_type}}
                                                    </div>
                                                     </div>

                                                <div  class="form-group ">
                                                    <label class="control-label col-md-4 col-sm-4" > Linkage to VSLA <span class="asteriskField">*</span> </label>
                                                    <div class="col-md-6 col-sm-6" id="linkage_to_vsla" >
                                                        {{ form.linkage_to_vsls }}
                                                    </div>
                                                </div>

                                                <div class="form-group vsla_name " id="vsla_name">
                                                    <label class="control-label col-md-4 col-sm-4" >VSLA Name</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.vsla_name}}
                                                    </div>
                                                </div>

                                                <div  class="form-group date_of_linkage_vsla" id="date_of_linkage_vsla" >
                                                    <label class="control-label col-md-4 col-sm-4" >Date of Linkage to VSLA <br></label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.date_linkage }}
                                                    </div>
                                                </div>
                                                <div  class="form-group ">
                                                    <label class="control-label col-md-4 col-sm-4" > <br> Monthly Saving Average</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.monthly_saving }}
                                                    </div>
                                                </div>

                                                    <div  class="form-group ">
                                                    <label class="control-label col-md-4 col-sm-4" >Cumulative Saving</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.average_cumulative_saving }}
                                                    </div>
                                                </div>
                                                <div  class="form-group loan_taken " >
                                                    <label class="control-label col-md-4 col-sm-4" >Loan Taken: <span class="asteriskField">*</span> </label>
                                                    <div class="col-md-6 col-sm-6" id="loan_taken">
                                                        {{ form.loan_taken }}
                                                    </div>
                                                </div>
                                                 <div  class="form-group " id="loan_amount">
                                                    <label class="control-label col-md-4 col-sm-4" > Loan taken Amount </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.loan_taken_amount }}
                                                    </div>
                                                </div>


                                                <div  class="form-group " id="date_loan_taken">
                                                    <label class="control-label col-md-4 col-sm-4" >Date Loan Taken </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.date_loan_taken }}
                                                    </div>
                                                </div>
                                                 <div  class="form-group " id="loan_utilization">
                                                    <label class="control-label col-md-4 col-sm-4" > Loan Utilization </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.loan_utilization }}
                                                    </div>
                                                </div>
                                                <div  class="form-group ">
                                                    <label class="control-label col-md-4 col-sm-4" > Startup?<span class="asteriskField">*</span> </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.startup }}
                                                    </div>
                                                </div>
                                                 <div  class="form-group " id="type_of_startup">
                                                    <label class="control-label col-md-4 col-sm-4" > Type of Startup </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.type_of_startup }}
                                                    </div>
                                                </div>
                                                 <div  class="form-group"  id="date_startup_received">
                                                    <label class="control-label col-md-4 col-sm-4" > Date startup received </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.date_startup_received }}
                                                    </div>
                                                </div>
                                        </fieldset>
                                    </div>
                        <!-- end wizard step-1 -->
                        <!-- begin wizard step-2 -->
                        <div class="wizard-step-2">
                                        <fieldset>
                                            <legend class="pull-left width-full">Consumption support</legend>
                                                <div  class="form-group ">
                                                    <label class="control-label col-md-4 col-sm-4" > Emergency cash transfer (ECT):<span class="asteriskField">*</span> </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.emergency_cash_transfer}}
                                                    </div>
                                                </div>
                                                <div  class="form-group" id="ect_amount">
                                                    <label class="control-label col-md-4 col-sm-4" > Amount received ECT: </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.amount_received_ect }}
                                                    </div>
                                                </div>
                                                <div  class="form-group" id="ect_use">
                                                    <label class="control-label col-md-4 col-sm-4" > Use of ECT: </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.use_of_ect }}
                                                    </div>
                                                </div>
                                                
                                        </fieldset>
                                    </div>
                        <!-- end wizard step-2 -->
                         <div class="wizard-step-3">
                                        <fieldset>
                                            <legend class="pull-left width-full" >Asset Growth</legend>
                                            <!-- begin row -->
                                            <div class="row">
                                                 <div  class="form-group ">
                                                    <label class="control-label col-md-4 col-sm-4" > Received start up Kit :<span class="asteriskField">*</span> </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.received_startup_kit }}
                                                    </div>
                                                </div>
                                                <div  class="form-group ">
                                                    <label class="control-label col-md-4 col-sm-4" >Type of asset  :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.type_of_asset}}
                                                    </div>
                                                </div>
                                                <div  class="form-group ">
                                                    <label class="control-label col-md-4 col-sm-4" > Avarage monthly income generated : </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.average_monthly_income_generated }}
                                                    </div>
                                                </div>
                                                <div  class="form-group ">
                                                    <label class="control-label col-md-4 col-sm-4" >Received business grant:<span class="asteriskField">*</span> </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.received_business_grant}}
                                                    </div>
                                                </div>
                                                <div  class="form-group " id="amount_of_money_received">
                                                    <label class="control-label col-md-4 col-sm-4" >Amount of Money received: </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.amount_of_money_received}}
                                                    </div>
                                                </div>
                                                <div  class="form-group " id="business_type">
                                                    <label class="control-label col-md-4 col-sm-4" >Business type started : </label>
                                                    <div class="col-md-6 col-sm-6" >
                                                        {{ form.business_type_started}}
                                                    </div>
                                                </div>
                                                <div  class="form-group " id="linked_to_value_chain">
                                                    <label class="control-label col-md-4 col-sm-4" >Linked to  Value chain Activities: </label>
                                                    <div class="col-md-6 col-sm-6" >
                                                        {{ form.linked_to_value_chain_activities_asset_growth}}
                                                    </div>
                                                </div>
                                                <div  class="form-group ">
                                                    <label class="control-label col-md-4 col-sm-4" >Sector: </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.sector_of_asset_growth}}
                                                    </div>
                                                </div>

                                            </div>

                                        <!-- end row -->
                                        </fieldset>
                                    </div>
                                    <div class="wizard-step-4">
                                        <fieldset>
                                            <legend class="pull-left width-full" >Income Growth</legend>
                                            <!-- begin row -->
                                            <div class="row">
                                                 <div  class="form-group ">
                                                    <label class="control-label col-md-4 col-sm-4" > Linked to Source of finance : <span class="asteriskField">*</span><span class="asteriskField">*</span> </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.linked_to_source_finance }}
                                                    </div>
                                                </div>
                                                <div  class="form-group " id="type_of_financial_institution">
                                                    <label class="control-label col-md-4 col-sm-4" > Type of financial institution :</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.type_of_financial_institution }}
                                                    </div>
                                                </div>
                                                <div  class="form-group " >
                                                    <label class="control-label col-md-4 col-sm-4" > Loan taken: </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.loan_taken_income_growth }}
                                                    </div>
                                                </div>
                                                <div  class="form-group " id="date_loan_taken_income_growth">
                                                    <label class="control-label col-md-4 col-sm-4" >Date of loan taken  : </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.date_loan_taken_income_growth}}
                                                    </div>
                                                </div>
                                                <div  class="form-group " id="linked_to_value_chain_activities_income_growth">
                                                    <label class="control-label col-md-4 col-sm-4" >Linked to  Value chain Activities : </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.linked_to_value_chain_activities_income_growth}}
                                                    </div>
                                                </div>
                                                <div  class="form-group ">
                                                    <label class="control-label col-md-4 col-sm-4" >Sector : </label>
                                                    <div class="col-md-6 col-sm-6">
                                                        {{ form.sector_of_income_growth}}
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- end row -->
                                        </fieldset>
                                    </div>

                    </div>

                    <div class="panel-body panel-form">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4"></label>
                            <div class="col-md-6 col-sm-6">
                                <button id="mysubmit-wellbeingadolescent" type="submit"
                                    class="btn btn-primary">Submit</button>
                                <a href="javascript:history.go(-1)" class="btn btn-white">Cancel</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="badge pull-right m-4">Revised: </div>
        </div>
        </div>
        <!-- end panel -->

    </div>
    <!-- end col-12 -->

</div>
<!-- end row -->

{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script src="{% static 'js/tag-it.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>


<script>

$(document).ready(function() {
    $('#event_date').datepicker({ endDate: '0y', format: 'dd-M-yyyy' });

    $("#wizard-hes").bwizard();
});

</script>
    <script>
    var wizardSections = $('.wizard-section');
    var currentSectionIndex = 0;

    function validateCurrentSection() {
        var fields = wizardSections.eq(currentSectionIndex).find('input[required]');
        var isValid = true;

        fields.each(function() {
            if ($(this).val() === '') {
                isValid = false;
                return false; // Exit the loop early
            }
        });

        return isValid;
    }

    $('.next-button').on('click', function() {
        if (validateCurrentSection()) {
            if (currentSectionIndex < wizardSections.length - 1) {
                wizardSections.eq(currentSectionIndex).hide();
                currentSectionIndex++;
                wizardSections.eq(currentSectionIndex).show();
            }
        } else {
            alert('Please fill in all required fields before proceeding.');
        }
    });
});
    </script>



<script type="text/javascript">
    window.onload = function () {
        var x = document.getElementById("id_WB_AD_SCH_8_1_1");
        var y = document.getElementById("WB_AD_SCH_8_2");

        x.onclick = function () {
            if (y.style.display === "block") {
                // 
                alert('right')
            } else {
                // y.style.display = "block";
                alert('wrong')
            }
        };
    };
</script>


<script>

jQuery(document).ready(function () {
    var parsleyInstance = $('#form_new_hes').parsley();

    $('#employment-type').hide();
    $('#health_scheme').hide();
    $('#social_safety_nets_type').hide();
    $('#vsla_name').hide();
    $('#date_of_linkage_vsla').hide();
    $('#loan_amount').hide();
    $('#loan_utilization').hide();
    $('#date_loan_taken').hide();
    $('#type_of_startup').hide();
    $('#date_startup_received').hide();
    $('#ect_use').hide();
    $('#ect_amount').hide();
    $('#amount_of_money_received').hide();
    $('#type_of_financial_institution').hide();
    $('#date_loan_taken_income_growth').hide();


$(document).ready(function() {
    $('select').on('change', function () {
        var selectedValue = $(this).val();
        var $employmentTypeField = $('#employment-type');
        var parsleyInstance = $('#form_new_hes').parsley();

        if (selectedValue === 'EMP') {
            $employmentTypeField.show();
            $employmentTypeField.attr("required", true);
        } else {

        }


        parsleyInstance.validate();
    });





      $("input[name='have_health_scheme']").on('change', function () {
            var ival = $("input[name='have_health_scheme']:checked").val();
            if (ival == 'AYES') {
                $('#health_scheme').show();
                $('#health_scheme').attr("data-parsley-required", "true")

            } else {
               $ ('#health_scheme').hide();

            }
        });
       $("input[name='social_safety_nets']").on('change', function () {
            var ival = $("input[name='social_safety_nets']:checked").val();
            if (ival == 'AYES') {
                $('#social_safety_nets_type').show();
                $('#social_safety_nets_type').attr("data-parsley-required", "true")

            } else {
               $('#social_safety_nets_type').hide();

            }
        });
       $("input[name='linkage_to_vsls']").on('change', function () {
            var ival = $("input[name='linkage_to_vsls']:checked").val();
            if (ival == 'AYES') {
                 $('#vsla_name').show();
                 $('#vsla_name').attr("data-parsley-required", "true")
                 $('#date_of_linkage_vsla').show();
                 $('#date_of_linkage_vsla').attr("data-parsley-required", "true")
            } else {
               $('#vsla_name').hide();
               $('#date_of_linkage_vsla').hide();

            }
        });
       $("input[name='loan_taken']").on('change', function () {
            var ival = $("input[name='loan_taken']:checked").val();
            if (ival == 'AYES') {
                 $('#loan_amount').show();
                 $('#loan_amount').attr("data-parsley-required", "true")
                 $('#loan_utilization').show();
                 $('#loan_utilization').attr("data-parsley-required", "true")
                 $('#date_loan_taken').show();
                 $('#date_loan_taken').attr("data-parsley-required", "true")
            } else {
               $('#loan_amount').hide();
               $('#loan_utilization').hide();
               $('#date_loan_taken').hide();
                    }
        });
          $("input[name='startup']").on('change', function () {
            var ival = $("input[name='startup']:checked").val();
            if (ival == 'AYES') {
                $('#type_of_startup').show();
                $('#type_of_startup').attr("data-parsley-required", "true")
                $('#date_startup_received').show();
                $('#date_startup_received').attr("data-parsley-required", "true")
            } else {
               $('#type_of_startup').hide();
               $('#date_startup_received').hide();
                    }
        });
          $("input[name='emergency_cash_transfer']").on('change', function () {
            var ival = $("input[name='emergency_cash_transfer']:checked").val();
            if (ival == 'AYES') {

                $('#ect_use').show();
                $('#ect_use').attr("data-parsley-required", "true")
                $('#ect_amount').show();
                $('#ect_amount').attr("data-parsley-required", "true")
            } else {

                $('#ect_use').hide();
                $('#ect_amount').hide();

            }
        });
        $("input[name='received_business_grant']").on('change', function () {
            var ival = $("input[name='received_business_grant']:checked").val();
            if (ival == 'AYES') {

                $('#amount_of_money_received').show();
                $('#amount_of_money_received').attr("data-parsley-required", "true")
            } else {

                $('#amount_of_money_received').hide();

            }
        });
        $("input[name='linked_to_source_finance']").on('change', function () {
            var ival = $("input[name='linked_to_source_finance']:checked").val();
            if (ival == 'AYES') {

                $('#type_of_financial_institution').show();
                $('#type_of_financial_institution').attr("data-parsley-required", "true")
            } else {

                $('#type_of_financial_institution').hide();

            }
        });
        $("input[name='loan_taken_income_growth']").on('change', function () {
            var ival = $("input[name='loan_taken_income_growth']:checked").val();
            if (ival == 'AYES') {

                $('#date_loan_taken_income_growth').show();
                $('#date_loan_taken_income_growth').attr("data-parsley-required", "true")
            } else {

                $('#date_loan_taken_income_growth').hide();

            }
        });
        });
        //multi selects
        $('#WB_AD_SCH_12_2').multiselect({
            selectAllValue: 'multiselect-all',
            includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            numberDisplayed: 1,
            maxHeight: 300,
            buttonWidth: '100%',
            buttonClass: 'btn btn-white'
        });


        $('#WB_AD_SCH_8_2').attr("disabled", 'disabled');
        $('#WB_AD_SCH_8_2').prop("disabled", true);

        $("input[name='WB_AD_SCH_8_1']").on('change', function () {
            var ival = $("input[name='WB_AD_SCH_8_1']:checked").val();
            if (ival == 'ANNO') {
                unhideQn('WB_AD_SCH_8_2');
                hideQn('id_WB_AD_SCH_9_1_0');
                hideQn('id_WB_AD_SCH_9_1_1');
                hideQn('id_WB_AD_SCH_9_1_2');
            } else {
                hideQn('WB_AD_SCH_8_2');
                unhideQn('id_WB_AD_SCH_9_1_0');
                unhideQn('id_WB_AD_SCH_9_1_1');
                unhideQn('id_WB_AD_SCH_9_1_2');
            }
        });
        $("input[name='WB_AD_SCH_12_1']").on('change', function () {
            var ival = $("input[name='WB_AD_SCH_12_1']:checked").val();
            if (ival == 'AYES') {
                hideQn('WB_AD_SCH_12_2');
                hideQn('WB_AD_SCH_12_2_1');
            } else {
                unhideQn('WB_AD_SCH_12_2');
                unhideQn('WB_AD_SCH_12_2_1');
            }
        });
        $("input[name='WB_AD_HEL_17_2']").on('change', function () {
            var ival = $("input[name='WB_AD_HEL_17_2']:checked").val();
            if (ival == 'ANNO') {
                hideQn('WB_AD_HEL_17_3');

            } else {
                unhideQn('WB_AD_HEL_17_3');
            }
        });
        $("input[name='WB_AD_HEL_18_1']").on('change', function () {
            var ival = $("input[name='WB_AD_HEL_18_1']:checked").val();
            if (ival == 'ANNO') {
                hideQn('WB_AD_HEL_18_2');

            } else {
                unhideQn('WB_AD_HEL_18_2');
            }
        });
        $("input[name='WB_AD_HEL_19_1']").on('change', function () {
            var ival = $("input[name='WB_AD_HEL_19_1']:checked").val();
            if (ival == 'ANNO') {
                hideQn('WB_AD_HEL_19_2');

            } else {
                unhideQn('WB_AD_HEL_19_2');
            }
        });
        $("input[name='WB_AD_HEL_20_1']").on('change', function () {
            var ival = $("input[name='WB_AD_HEL_20_1']:checked").val();
            if (ival == 'ANNO') {
                hideQn('WB_AD_HEL_20_2');
                hideQn('id_WB_AD_HEL_20_3_0');
                hideQn('id_WB_AD_HEL_20_3_1');
                hideQn('id_WB_AD_HEL_20_4_0');
                hideQn('id_WB_AD_HEL_20_4_1');
                hideQn('id_WB_AD_HEL_20_4_2');
                hideQn('id_WB_AD_HEL_20_4_3');


            } else {
                unhideQn('WB_AD_HEL_20_2');
                unhideQn('id_WB_AD_HEL_20_3_0');
                unhideQn('id_WB_AD_HEL_20_3_1');
                unhideQn('id_WB_AD_HEL_20_4_0');
                unhideQn('id_WB_AD_HEL_20_4_1');
                unhideQn('id_WB_AD_HEL_20_4_2');
                unhideQn('id_WB_AD_HEL_20_4_3');
            }
        });
        $("input[name='WB_AD_HEL_20_3']").on('change', function () {
            var ival = $("input[name='WB_AD_HEL_20_3']:checked").val();
            if (ival == 'ANNO') {
                hideQn('id_WB_AD_HEL_20_4_0');
                hideQn('id_WB_AD_HEL_20_4_1');
                hideQn('id_WB_AD_HEL_20_4_2');
                hideQn('id_WB_AD_HEL_20_4_3');


            } else {
                unhideQn('id_WB_AD_HEL_20_4_0');
                unhideQn('id_WB_AD_HEL_20_4_1');
                unhideQn('id_WB_AD_HEL_20_4_2');
                unhideQn('id_WB_AD_HEL_20_4_3');
            }
        });



        $("input[name='WB_AD_STA_13_1']").on('change', function () {
            var ival = $("input[name='WB_AD_STA_13_1']:checked").val();
            if (ival == 'ANNO') {
                hideQn('id_WB_AD_STA_13_2');
                hideQn('id_WB_AD_STA_13_2_0');
                hideQn('id_WB_AD_STA_13_2_1');
                hideQn('id_WB_AD_STA_13_2_2');
            } else {
                unhideQn('id_WB_AD_STA_13_2');
                unhideQn('id_WB_AD_STA_13_2_0');
                unhideQn('id_WB_AD_STA_13_2_1');
                unhideQn('id_WB_AD_STA_13_2_2');

            }
        });

        $("input[name='WB_AD_HEL_16_1']").on('change', function () {
            var ival = $("input[name='WB_AD_HEL_16_1']:checked").val();
            if (ival == 'ANNO') {
                hideQn('id_WB_AD_STA_13_2_0');
                hideQn('id_WB_AD_STA_13_2_1');
                hideQn('id_WB_AD_STA_13_2_2');
                hideQn('id_WB_AD_STA_13_2_3');
            } else {
                unhideQn('id_WB_AD_STA_13_2_0');
                unhideQn('id_WB_AD_STA_13_2_1');
                unhideQn('id_WB_AD_STA_13_2_2');
                unhideQn('id_WB_AD_STA_13_2_3');
            }
        });
        $("input[name='WB_AD_HEL_16_1']").on('change', function () {
            var ival = $("input[name='WB_AD_HEL_16_1']:checked").val();
            if (ival == 'ANNO') {
                hideQn('WB_AD_HEL_16_2');
            } else {
                unhideQn('WB_AD_HEL_16_2');

            }
        });


        $("input[name='WB_AD_HEL_22_1']").on('change', function () {
            var ival = $("input[name='WB_AD_HEL_22_1']:checked").val();
            if (ival == 'ANNO') {
                hideQn('id_WB_AD_HEL_22_2_0');
                hideQn('id_WB_AD_HEL_22_2_1');
            } else {
                unhideQn('id_WB_AD_HEL_22_2_0');
                unhideQn('id_WB_AD_HEL_22_2_1');

            }
        });
        $("input[name='WB_AD_HEL_22_1']").on('change', function () {
            var ival = $("input[name='WB_AD_HEL_22_1']:checked").val();
            if (ival == 'AYES') {
                hideQn('WB_AD_HEL_22_3');
            } else {
                unhideQn('WB_AD_HEL_22_3');
            }
        });
        $("input[name='WB_AD_SAF_30_1']").on('change', function () {
            var ival = $("input[name='WB_AD_SAF_30_1']:checked").val();
            if (ival == 'AYES') {
                hideQn('WB_AD_SAF_30_2');
            } else {
                unhideQn('WB_AD_SAF_30_2');
            }
        });
        $("input[name='WB_AD_SAF_31_1']").on('change', function () {
            var ival = $("input[name='WB_AD_SAF_31_1']:checked").val();
            if (ival == 'ANNO') {
                hideQn('id_WB_AD_SAF_31_2_0');
                hideQn('id_WB_AD_SAF_31_2_1');
                hideQn('id_WB_AD_SAF_31_3_0');
                hideQn('id_WB_AD_SAF_31_3_1');
            } else {
                unhideQn('id_WB_AD_SAF_31_2_0');
                unhideQn('id_WB_AD_SAF_31_2_1');
                unhideQn('id_WB_AD_SAF_31_3_0');
                unhideQn('id_WB_AD_SAF_31_3_1');
            }
        });

        $("input[name='WB_AD_HEL_16_3']").on('change', function () {
            var ival = $("input[name='WB_AD_HEL_16_3']:checked").val();
            if (ival == 'ANNO') {
                hideQn('WB_AD_HEL_16_4');
            } else {
                unhideQn('WB_AD_HEL_16_4');

            }
        });

        $("input[name='WB_AD_HEL_17_4']").on('change', function () {
            var ival = $("input[name='WB_AD_HEL_17_4']:checked").val();
            if (ival == 'ANNO') {
                hideQn('WB_AD_HEL_17_5');
            } else {
                unhideQn('WB_AD_HEL_17_5');

            }
        });

        $("input[name='WB_AD_SAF_32_1']").on('change', function () {
            var ival = $("input[name='WB_AD_SAF_32_1']:checked").val();
            if (ival == 'ANNO' || ival=='AREFUSE' ) {
                hideQn('id_WB_AD_SAF_32_2_0');
                hideQn('id_WB_AD_SAF_32_2_1');
                hideQn('id_WB_AD_SAF_32_2_2');
                hideQn('id_WB_AD_SAF_32_2_3');
                hideQn('id_WB_AD_SAF_32_3_0');
                hideQn('id_WB_AD_SAF_32_3_1');
                hideQn('id_WB_AD_SAF_32_3_2');
                hideQn('id_WB_AD_SAF_32_4_0');
                hideQn('id_WB_AD_SAF_32_4_1');
                hideQn('id_WB_AD_SAF_32_4_2');
                hideQn('id_WB_AD_SAF_32_5_0');
                hideQn('id_WB_AD_SAF_32_5_1');
                hideQn('id_WB_AD_SAF_32_5_2');
                hideQn('id_WB_AD_SAF_32_6_1_0');
                hideQn('id_WB_AD_SAF_32_6_1_1');
                hideQn('id_WB_AD_SAF_32_6_1_2');
                hideQn('WB_AD_SAF_32_6_2');

            } else {
                unhideQn('id_WB_AD_SAF_32_2_0');
                unhideQn('id_WB_AD_SAF_32_2_1');
                unhideQn('id_WB_AD_SAF_32_2_2');
                unhideQn('id_WB_AD_SAF_32_2_3');
                unhideQn('id_WB_AD_SAF_32_3_0');
                unhideQn('id_WB_AD_SAF_32_3_1');
                unhideQn('id_WB_AD_SAF_32_3_2');
                unhideQn('id_WB_AD_SAF_32_4_0');
                unhideQn('id_WB_AD_SAF_32_4_1');
                unhideQn('id_WB_AD_SAF_32_4_2');
                unhideQn('id_WB_AD_SAF_32_5_0');
                unhideQn('id_WB_AD_SAF_32_5_1');
                unhideQn('id_WB_AD_SAF_32_5_2');
                unhideQn('id_WB_AD_SAF_32_6_1_0');
                unhideQn('id_WB_AD_SAF_32_6_1_1');
                unhideQn('id_WB_AD_SAF_32_6_1_2');
                unhideQn('WB_AD_SAF_32_6_2');


            }
        });
        $("input[name='WB_AD_SAF_32_4']").on('change', function () {
            var ival = $("input[name='WB_AD_SAF_32_4']:checked").val();
            if (ival == 'ANNO' || ival == 'AREFUSE') {
                hideQn('id_WB_AD_SAF_32_5_0');
                hideQn('id_WB_AD_SAF_32_5_1');
                hideQn('id_WB_AD_SAF_32_5_2');
            } else {
                unhideQn('id_WB_AD_SAF_32_5_0');
                unhideQn('id_WB_AD_SAF_32_5_1');
                unhideQn('id_WB_AD_SAF_32_5_2');
            }
        });

        $("input[name='WB_AD_SAF_33_1']").on('change', function () {
            var ival = $("input[name='WB_AD_SAF_33_1']:checked").val();
            if (ival == 'ANNO'|| ival == 'AREFUSE' ) {
                hideQn('WB_AD_SAF_33_2');
            } else {
                unhideQn('WB_AD_SAF_33_2');
            }
        });
        $("input[name='WB_AD_SAF_32_5']").on('change', function () {
            var ival = $("input[name='WB_AD_SAF_32_5']:checked").val();
            if (ival == 'ANNO' || ival == 'AREFUSE') {
                hideQn('id_WB_AD_SAF_32_6_1_0');
                hideQn('id_WB_AD_SAF_32_6_1_1');
                hideQn('id_WB_AD_SAF_32_6_1_2');
                hideQn('WB_AD_SAF_32_6_2');
            } else {
                unhideQn('id_WB_AD_SAF_32_6_1_0');
                unhideQn('id_WB_AD_SAF_32_6_1_1');
                unhideQn('id_WB_AD_SAF_32_6_1_2');
                unhideQn('WB_AD_SAF_32_6_2');
            }
        });



        $('html,body').scrollTop(0);
        FormWizardValidation.init();
    });



</script>



{% endblock %}