{% extends 'base.html' %}
{% load app_filters %}
{% load static %}
{% block page_title %} Reaching Case Plan Achievement {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html"/>
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}

.table_data {
  display: none;
}

.container {
    width: 100%;
    overflow-x: auto;
}

.td_style {
  /*color: #000000;*/
  color: #0057e7;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}

<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Forms</li>
</ol>
<!-- end breadcrumb -->

<!-- begin page-header -->
{% for data in init_data %}
<h1 class="page-header">
    <small> Care Giver's Name:       {{ care_giver }} <br> <br> </small> </h1>

{% endfor %}


<!-- end page-header -->

<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span class="invalid-form-message" id="invalid-form-message"></span>
</div>

<!-- begin row -->
<div id='case_details' class="row">
	<!-- begin col-12 -->
    <div class="col-md-12">
    	<!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                <h1 class="panel-title">
                {% for data in init_data %}

                     Reaching Case Plan Achievement: <b> &nbsp;{{ data.first_name }} {{ data.surname }} | {{ data.sex_id|gen_value:vals }} ||
        {% if data.date_of_birth|gen_age == 0 %}
                    UNDER 1 YEAR
                {% else %}
                    {{ data.date_of_birth|gen_age }} YRS
                {% endif %}</b> </small>
        </b>
                {% endfor %}
                </h1>


            </div>
            <div class="panel-body" onload="codeAddress();">
            	<form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true">
                	{% csrf_token %}
						<div class="panel-body ">

							    <!-- add labels like HA1, HA2 .. -->
                            <div id="wizard-caseclosureform">
							    <h3 class="text-center note note-info"> Personal Information For The Child</h3>
							<div class="form-group">
                                <table class="table table-bordered">


                                <tbody>
                                <tr>
                                    <td>Q1A</td>
                                    <td>Reason for Case Closure (tick):
                                    </td>
                                   <div id="ss_main">
                                        <td>
                                        {{form.CASE_CL001}}

                                    </td>
                                   </div>

                                </tr>

                                <div >
                                    <tr id="cc_001">
                                        <td>Q1B</td>

                                    <td>For those Transferred (Name of receiving Organization/program):<span class="asteriskField">*</span>
                                    </td>
                                    <td id="orgsearch">


                                           <input type="text" class="form-control" name="organization_field" id="organization_field" placeholder="Search for organization here">
                                                    <input type="hidden" name="CASE_CL002" id="CASE_CL002">
                                    </td>
                                </tr>
                                </div>

                               <div >
                                    <tr id="cc_002">
                                        <td>Q1C</td>

                                    <td>For Attrition: Specify reason for attrition. Tick below:<span class="asteriskField">*</span>
                                    </td>
                                    <td>
                                        <div class="row " >
                                            <div class="col-md-6 ">


                                                {{form.CASE_CL027}}
{#                                                <input type="hidden" name="CASE_CL004" id="CASE_CL004">#}
{#                                                {{form.CASE_CL004}}#}

                                            </div>

                                        </div>
                                                </td>

                        </tr>
                               </div>
                        </tbody>
                        </table>

                            </div>

                        <!-- </div> -->
                            <div id="cc_tab_001">
                                  <h3 class="text-center note note-info">Case Closure Checklist for Case Plan Achievement.</h3>
                                  <div class="form-group" >
                            <table class="table table-bordered">
                                <thead>
                                <tr>

                                    <th scope="col">Questions</th>
                                    <th scope="col">Options/Answers</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>Q2</td>

                                    <td>Case files completed per the protocol. </td>
                                    <td >
                                        {{ form.CASE_CL006}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Q3</td>

                                    <td>Case Worker has given phone number to household </td>
                                    <td>
                                        {{ form.CASE_CL007 }}
                                    </td>
                                </tr>
                                  <tr>
                                    <td>Q4</td>

                                    <td>Head of household linked to a family, which already graduated.</td>
                                    <td>
                                        {{ form.CASE_CL028}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Q5</td>
                                    <td>Informed necessary service providers of graduation.</td>
                                    <td>{{ form.CASE_CL008 }}</td>
                                </tr>


                                </tbody>
                            </table>

                            <p>&nbsp;</p>

                        </div>
                            </div>
                            <div id="cc_tab_002">
                                <h3 class="text-center note note-info" >Case Closure Checklist for Transfer.</h3>
							    <div class="form-group" >
                            <table class="table table-bordered">
                                <thead>
                                <tr>

                                    <th scope="col">Questions?</th>
                                    <th scope="col">Options/Answers</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>Q6</td>

                                    <td>Case Transfer Form completed per the protocol.</td>
                                    <td>
                                        {{ form.CASE_CL010}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Q7</td>

                                    <td>Referring Case Manager established time and frequency for follow up</td>
                                    <td>
                                        {{ form.CASE_CL011 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Q8</td>
                                    <td>Informed necessary service providers of case transfer.</td>
                                    <td>{{ form.CASE_CL012 }}</td>
                                </tr>
                                <tr>
                                    <td>Q9</td>
                                    <td>Copy of family folder sent to receiving organization.</td>
                                    <td>
                                        {{ form.CASE_CL013 }}

                                    </td>
                                </tr>


                                </tbody>
                            </table>

                            <p>&nbsp;</p>

                        </div>
                            </div>
                            <div id="cc_tab_003">
                                 <h3 class="text-center note note-info">Case Closure Checklist for Attrition.</h3>
							        <div class="form-group" >
                            <table class="table table-bordered">
                                <thead>
                                <tr>

                                    <th scope="col">Questions?</th>
                                    <th scope="col">Options/Answers</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>Q10</td>

                                    <td>Reason for attrition documented in family folder. </td>
                                    <td>
                                        {{ form.CASE_CL030}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Q11</td>

                                    <td>Case Manager Report</td>
                                    <td>
                                        {{ form.CASE_CL029 }}
                                    </td>
                                </tr>


                                       <td>Q12</td>

                                    <td>Exit reason recorded in OVC Database  </td>
                                    <td>
                                        {{ form.CASE_CL031 }}
                                    </td>
                                </tr>




                                </tbody>
                            </table>
                                        <table>

                                        </table>

                            <p>&nbsp;</p>

                        </div>
                            </div>
                            <div id="cc_tab_004">

                                <div class="form-group" >
                        <table class="table table-bordered">
                            <thead>

                            </thead>

                            <tbody>



                              <tr>
                                  <td>Q13</td>

                                <td>Files stored in a safe place (locked cabinet).</td>
                                <td>
                                    {{ form.CASE_CL014}}
                                </td>
                            </tr>



                            <tr>
                                <td>Q14</td>

                                  <td>
                                    Date
                                </td>
                                 <td>
                                         {{ form.CASE_CL026 }}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                                    <table>

                                    </table>

                        <p>&nbsp;</p>

                    </div>
                        </div>

                        </div>


					<div class="panel-body panel-form">
						<div class="form-group">
							<label class="control-label col-md-4 col-sm-4"></label>
							<div class="col-md-6 col-sm-6">
								<button type="submit" class="btn btn-primary">Edit</button>
								<a href="javascript:history.go(-1)" class="btn btn-white">Cancel</a>
							</div>
						</div>
                    </div>
                </div>

                </form>
                  <div class="card-block table-border-style">

            </div>

            </div>

        </div>
        <!-- end panel -->

    </div>
    <!-- end col-12 -->



</div>
<!-- end row -->

{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script src="{% static 'js/tag-it.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
<script>

jQuery(document).ready(function()
{


        $('#CASE_CL026').datepicker({ format: 'yyyy-mm-dd',  autoclose: true,
        orientation: "top",
        endDate: "today" }).val();
            $('#cc_001').hide();
            $('#cc_002').hide();
            $("#cc_tab_001").hide();
            $("#cc_tab_002").hide();
            $("#cc_tab_003").hide();
            $("#cc_tab_004").hide();
      $("input[name='CASE_CL001']").change(()  => {
      {#var ival = #}




  });

	$('html,body').scrollTop(0);
	FormWizardValidation.init();
});
    var table = document.getElementsByTagName('table')[0],
      rows = table.getElementsByTagName('tr'),
      text = 'textContent' in document ? 'textContent' : 'innerText';

    for (var i = 1, len = rows.length; i < len; i++) {
      rows[i].children[0][text] = i + ': ' + rows[i].children[0][text];
    }


</script>
    <script>
    $( "#organization_field ,#CASE_CL002" ).autocomplete({
            source: function( request, response ) {
            $.ajax({
                url: "{% url 'ovc_search' %}",
                dataType: "json",
                data: {q: request.term, id: 3},
                success: function( data ) {
                    response( data );
                }
                });
            },
            minLength: 4,
            select: function( event, ui ) {
                $('#organization_field').val(ui.item.name);
                $('#CASE_CL002').val(ui.item.id);
            },
            open: function() {
                $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
            },
            close: function() {
                $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
            }
        });
    </script>
    <script>
    function first_load(cond, field_id){
        if (cond){
            $('#'+ field_id).prop('disabled', false);
            $('#'+ field_id).attr("data-parsley-required", "true");
        }else{
            $('#'+ field_id).prop('disabled', true);
            $('#'+ field_id).attr("data-parsley-required", "false");
        }

    }
    </script>
<script>
document.addEventListener('DOMContentLoaded', function() {
   $('input[name="CASE_CL001').attr({'disabled':true});


      var ival = $("input[name='CASE_CL001']:checked").val();

      if(ival == 2){

           $("#cc_001").show();
           $("#cc_tab_002").show();
           $("#cc_tab_004").show();
           $("#cc_002").hide();
           $("#cc_tab_001").hide();
           $("#cc_tab_003").hide();
           $('input[name="CASE_CL002').attr({'required': true,'data-parsley-group': 'group0','data-parsley-required':true});
           $('input[name="CASE_CL010').attr({'required': true,'data-parsley-group': 'group0','data-parsley-required':true});
           $('input[name="CASE_CL011').attr({'required': true,'data-parsley-group': 'group0','data-parsley-required':true});
           $('input[name="CASE_CL012').attr({'required': true,'data-parsley-group': 'group0','data-parsley-required':true});
           $('input[name="CASE_CL013').attr({'required': true,'data-parsley-group': 'group0','data-parsley-required':true});

          $('input[name="CASE_CL004').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL027').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL029').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL030').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL031').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});


          $('input[name="CASE_CL006').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL007').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL008').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL028').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});




      }else if(ival == '3'){
          $("#cc_002").show();
          $("#cc_tab_003").show();
          $("#cc_tab_004").show();
          $("#cc_001").hide();
          $("#cc_tab_001").hide();
          $("#cc_tab_002").hide();

          $('input[name="CASE_CL004').attr({'required': true,'data-parsley-group': 'group0','data-parsley-required':true});
          $('input[name="CASE_CL027').attr({'required': true,'data-parsley-group': 'group0','data-parsley-required':true});
          $('input[name="CASE_CL029').attr({'required': true,'data-parsley-group': 'group0','data-parsley-required':true});
          $('input[name="CASE_CL030').attr({'required': true,'data-parsley-group': 'group0','data-parsley-required':true});
          $('input[name="CASE_CL031').attr({'required': true,'data-parsley-group': 'group0','data-parsley-required':true});

          $('input[name="CASE_CL006').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL007').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL008').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL028').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});

           $('input[name="CASE_CL002').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
           $('input[name="CASE_CL010').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
           $('input[name="CASE_CL011').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
           $('input[name="CASE_CL012').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
           $('input[name="CASE_CL013').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});



      } else if(ival == '1'){
          $("#cc_tab_001").show();
          $("#cc_tab_004").show();
          $("#cc_001").hide();
          $("#cc_tab_003").hide();
          $("#cc_tab_002").hide();

          $('input[name="CASE_CL006').attr({'required': true,'data-parsley-group': 'group0','data-parsley-required':true});
          $('input[name="CASE_CL007').attr({'required': true,'data-parsley-group': 'group0','data-parsley-required':true});
          $('input[name="CASE_CL008').attr({'required': true,'data-parsley-group': 'group0','data-parsley-required':true});
          $('input[name="CASE_CL028').attr({'required': true,'data-parsley-group': 'group0','data-parsley-required':true});

          $('input[name="CASE_CL004').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL027').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL029').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL030').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL031').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});


          $('input[name="CASE_CL002').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL010').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL011').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL012').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});
          $('input[name="CASE_CL013').attr({'required': false,'data-parsley-group': 'group0','data-parsley-required':false});



      }



}, false);
</script>



{% endblock %}