{% extends 'base.html' %}
{% load app_filters %}
{% load static %}
{% block page_title %} Case Plan Template {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}

.table_data {
  display: none;
}

.container {
    width: 100%;
    overflow-x: auto;
}

.td_style {
  /* color: #000000;*/
  color: #0057e7;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}

<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Forms</li>
</ol>
<!-- end breadcrumb -->

<!-- begin page-header -->
<!-- {% for data in init_data %} -->

	<h1 class="page-header">Forms <small>Case Plan Template Monitoring <b> {% for cgvr in care_givers %} {{cgvr}} {% endfor %}
         <!-- | {{ data.first_name }} {{ data.surname }} | {{ data.sex_id|gen_value:vals }} | {% if data.date_of_birth|gen_age == 0 %}
                            UNDER 1 YEAR
                        {% else %}
                            {{ data.date_of_birth|gen_age }} YRS 
                        {% endif %} -->
                    </b></small></h1>

<!-- {% endfor %} -->
<!-- end page-header -->

<div id="error_message" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <!--<span class="close" data-dismiss="alert">×</span>-->
    <button type="button" class="close" data-hide="alert">&times;</button>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span class="invalid-form-message" id="invalid-form-message"></span>
</div>


<div id="success_message" class="alert alert-success fade in" style="display: none;">
    <!--<span class="close" data-dismiss="alert">×</span>-->
    <button type="button" class="close" data-hide="alert">&times;</button>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p></p>
</div>


{% if err_msgg  %}

<div class="alert alert-danger" id="error-message-reuse">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <span class="mesgg"></span>
  {{ err_msgg }}
</div>

{% endif %}

<div id="warning_message" class="alert alert-warning hidden">
    <span class="mesagg" id="mesagg"></span>
</div>


<!-- begin row -->
<div id='case_details' class="row">

	<!-- begin col-12 -->
    <div class="col-md-12">
    	<!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title"> Case Plan Monitoring</h4>
            </div>
            <div class="panel-body">    	
					<div id="wizard-f1a">

						<!-- begin wizard step-1 -->
						<div class="wizard-step-1">
                            <fieldset>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Domain</th><th>Date</th>
                                            <th>Goal</th><th>Needs / Gaps</th>
                                            <th>Priority Actions</th><th>Services</th>
                                            <th>Responsible</th><th>Completion Date</th>
                                            <th>Results</th><th>Reasons</th>
                                        </tr>
                                    </thead>

                                {% for one_cpt_event in caseplan_events %}
                                    {% if one_cpt_event and one_cpt_event.event_id == cp_id %}
                                       {% if one_cpt_event.event_healthy %}
                                       <tr bgcolor="#f0f3f5">
                                           <td colspan="10"><b>HEALTHY </b></td>
                                        </tr>
                                        {% for one_healthy in one_cpt_event.event_healthy %}
                                            <tr>
                                               <td></td>
                                               <td>{{ one_healthy.ev_date }}</td>
                                               <td>{{ one_healthy.ev_goal }}</td>
                                               <td>{{ one_healthy.ev_need }}</td>
                                               <td>{{ one_healthy.ev_priority }}</td>
                                               <td>{{ one_healthy.ev_services }}</td>
                                               <td>{{ one_healthy.ev_responsible }}</td>
                                               <td>{{ one_healthy.ev_completion_date}}</td>
                                               <td>{{ one_healthy.ev_results }}</td>
                                               <td>{{ one_healthy.ev_reasons }}</td>
                                               <td>
                                                   <a href="#monitor-caseplan-{{ one_healthy.cid }}" class="btn btn-sm btn-danger btn-outline" data-toggle="modal">Monitor &nbsp;&nbsp;</a>
                                                <!--Confirm form1a delete Modal -->
                                                  <div class="modal fade" id="monitor-caseplan-{{ one_healthy.cid }}" style="margin-left: auto; margin-right: auto; width: 90%;" role="dialog">
                                                    <div class="modal-dialog modal-sm">

                                                      <!-- Modal content-->
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                          <h4 class="modal-title">Monitor - {{ one_cpt_event.event_id }}</h4>
                                                        </div>
                                                        <form id='cpt-monitoring-{{ one_healthy.cid }}' class="inline" method="post" action=".">
                                                        {% csrf_token %}
                                                        <p></p>
                                                        <div class="modal-body">                                                          
                                                          <table class="table">
                                                              <tr bgcolor="#ddd"><th>Item</th><th>Value</th></tr>
                                                              <tr><td>Domain</td><td>Healthy</td></tr>
                                                              <tr><td>Date</td><td>{{ one_healthy.ev_date }}</td></tr>
                                                              <tr><td>Goal</td><td>{{ one_healthy.ev_goal }} - {{ one_healthy.ev_goal|gen_value:vals }}</td></tr>
                                                              <tr><td>Needs / Gaps</td><td>{{ one_healthy.ev_need }} - {{ one_healthy.ev_need|gen_value:vals }}</td></tr>
                                                              <tr><td>Priority Actions</td><td>{{ one_healthy.ev_priority }} - {{ one_healthy.ev_priority|gen_value:vals }}</td></tr>
                                                              <tr><td>Services</td><td>{{ one_healthy.ev_services }} - {{ one_healthy.ev_services|gen_value:vals }}</td></tr>
                                                              <tr><td>Person Responsible</td><td>{{ one_healthy.ev_responsible }}</td></tr>
                                                              <tr><td>Completion Date</td><td>{{ one_healthy.ev_completion_date }}</td></tr>
                                                              <tr bgcolor="#ddd"><td colspan="2"><b>Case Plan Metadata</b></td></tr>
                                                              <tr><td>User ID</td><td>{{ one_healthy.ev_meta.created_by }}</td></tr>
                                                              {% for ev in one_cpt_event.event_user %}
                                                              <tr><td>Username</td><td>{{ ev.username }}</td></tr>
                                                              <tr><td>Name</td><td>{{ ev.reg_person.first_name }} {{ ev.reg_person.surname }} ({{ ev.reg_person.id }})</td></tr>
                                                              {% endfor %}                                                               
                                                              <tr><td>Timestamp</td><td>{{ one_healthy.ev_meta.timestamp_created }}</td></tr>
                                                              <tr bgcolor="#ddd"><td colspan="2"><b>Monitor details</b></td></tr>
                                                              <tr><td colspan="2"><div id="cpt-message-{{ one_healthy.cid }}"></div></td></tr>
                                                              <tr><td>Results</td><td>{{ form.CPT_RESULTS }}</td></tr>
                                                              <tr><td>Actual completion date</td><td>{{ form.CPT_ACTUAL_DATE_COMPLETION }}</td></tr>
                                                              <tr><td>Reasons</td><td>{{ form.CPT_REASONS }}</td></tr>
                                                              <tr><td></td><td></td></tr>
                                                          </table>
                                                        </div>
                                                        <div class="modal-footer">
                                                          <input type="hidden" value="{{ one_healthy.cid }}" name="CPT_EVENT">
                                                          <button value="{{ one_healthy.cid }}" type="button" class="btn btn-default btn-primary cptMonitor">Monitor</button>
                                                          <button type="button" class="btn btn-default btn-default" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                        </form>
                                                      </div>

                                                    </div>
                                                  </div>
                                               </td>
                                            </tr>
                                            {% endfor %}
                                       {% endif %}
                                       {% if one_cpt_event.event_stable %}
                                       <tr bgcolor="#f0f3f5">
                                           <td colspan="10"><b>STABLE</b></td>
                                        </tr>
                                        {% for one_stable in one_cpt_event.event_stable %}
                                            <tr>
                                                <td></td>
                                                <td>{{ one_stable.ev_date }}</td>
                                               <td>{{ one_stable.ev_goal }}</td>
                                               <td>{{ one_stable.ev_need }}</td>
                                               <td>{{ one_stable.ev_priority }}</td>
                                               <td>{{ one_stable.ev_services }}</td>
                                               <td>{{ one_stable.ev_responsible }}</td>
                                               <td>{{ one_stable.ev_completion_date}}</td>
                                               <td>{{ one_stable.ev_results }}</td>
                                               <td>{{ one_stable.ev_reasons }}</td>
                                               <td>
                                                   <a href="#monitor-caseplan-{{ one_stable.cid }}" class="btn btn-sm btn-danger btn-outline" data-toggle="modal">Monitor &nbsp;&nbsp;</a>
                                                <!--Confirm form1a delete Modal -->
                                                  <div class="modal fade" id="monitor-caseplan-{{ one_stable.cid }}" style="margin-left: auto; margin-right: auto; width: 90%;" role="dialog">
                                                    <div class="modal-dialog modal-sm">

                                                      <!-- Modal content-->
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                          <h4 class="modal-title">Monitor - {{ one_cpt_event.event_id }}</h4>
                                                        </div>
                                                        <form id='cpt-monitoring-{{ one_stable.cid }}' class="inline" method="post" action=".">
                                                        {% csrf_token %}
                                                        <p></p>
                                                        <div class="modal-body">
                                                          <table class="table">
                                                              <tr bgcolor="#ddd"><th>Item</th><th>Value</th></tr>
                                                              <tr><td>Domain</td><td>Stable</td></tr>
                                                              <tr><td>Goal</td><td>{{ one_stable.ev_goal }} - {{ one_stable.ev_goal|gen_value:vals }}</td></tr>
                                                              <tr><td>Needs / Gaps</td><td>{{ one_stable.ev_need }} - {{ one_stable.ev_need|gen_value:vals }}</td></tr>
                                                              <tr><td>Priority Actions</td><td>{{ one_stable.ev_priority }} - {{ one_stable.ev_priority|gen_value:vals }}</td></tr>
                                                              <tr><td>Services</td><td>{{ one_stable.ev_services }} - {{ one_stable.ev_services|gen_value:vals }}</td></tr>
                                                              <tr><td>Person Responsible</td><td>{{ one_stable.ev_responsible }}</td></tr>
                                                              <tr><td>Completion date</td><td>{{ one_stable.ev_completion_date }}</td></tr>
                                                              <tr bgcolor="#ddd"><td colspan="2"><b>Case Plan Metadata</b></td></tr>
                                                              <tr><td>User ID</td><td>{{ one_stable.ev_meta.created_by }}</td></tr>
                                                              {% for ev in one_cpt_event.event_user %}
                                                              <tr><td>Username</td><td>{{ ev.username }}</td></tr>
                                                              <tr><td>Name</td><td>{{ ev.reg_person.first_name }} {{ ev.reg_person.surname }} ({{ ev.reg_person.id }})</td></tr>
                                                              {% endfor %}                                                               
                                                              <tr><td>Timestamp</td><td>{{ one_stable.ev_meta.timestamp_created }}</td></tr>
                                                              <tr bgcolor="#ddd"><td colspan="2"><b>Monitor details</b></td></tr>
                                                              <tr><td colspan="2"><div id="cpt-message-{{ one_stable.cid }}"></div></td></tr>
                                                              <tr><td>Results</td><td>{{ form.CPT_RESULTS }}</td></tr>
                                                              <tr><td>Actual completion date</td><td>{{ form.CPT_ACTUAL_DATE_COMPLETION }}</td></tr>
                                                              <tr><td>Reasons</td><td>{{ form.CPT_REASONS }}</td></tr>
                                                              <tr><td></td><td></td></tr>
                                                          </table>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="hidden" value="{{ one_stable.cid }}" name="CPT_EVENT">
                                                            <button value="{{ one_stable.cid }}" type="button" class="btn btn-default btn-primary cptMonitor">Monitor</button>
                                                            <button type="button" class="btn btn-default btn-default" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                      </div>
                                                      </form>
                                                    </div>
                                                  </div>
                                               </td>
                                            </tr>
                                            {% endfor %}
                                       {% endif %}
                                       {% if one_cpt_event.event_safe %}
                                       <tr bgcolor="#f0f3f5">
                                           <td colspan="10"><b>SAFE</b></td>
                                        </tr>
                                        {% for one_safe in one_cpt_event.event_safe %}
                                            <tr>
                                                <td></td>
                                                <td>{{ one_safe.ev_date }}</td>
                                               <td>{{ one_safe.ev_goal }}</td>
                                               <td>{{ one_safe.ev_need }}</td>
                                               <td>{{ one_safe.ev_priority }}</td>
                                               <td>{{ one_safe.ev_services }}</td>
                                               <td>{{ one_safe.ev_responsible }}</td>
                                               <td>{{ one_safe.ev_completion_date}}</td>
                                               <td>{{ one_safe.ev_results }}</td>
                                               <td>{{ one_safe.ev_reasons }}</td>
                                               <td>
                                                   <a href="#monitor-caseplan-{{ one_safe.cid }}" class="btn btn-sm btn-danger btn-outline" data-toggle="modal">Monitor &nbsp;&nbsp;</a>
                                                <!--Confirm form1a delete Modal -->
                                                  <div class="modal fade" id="monitor-caseplan-{{ one_safe.cid }}" style="margin-left: auto; margin-right: auto; width: 90%;" role="dialog">
                                                    <div class="modal-dialog modal-sm">

                                                      <!-- Modal content-->
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                          <h4 class="modal-title">Monitor - {{ one_cpt_event.event_id }}</h4>
                                                        </div>
                                                        <form id='cpt-monitoring-{{ one_safe.cid }}' class="inline" method="post" action=".">
                                                        {% csrf_token %}
                                                        <div class="modal-body">
                                                          <table class="table">
                                                              <tr bgcolor="#ddd"><th>Item</th><th>Value</th></tr>
                                                              <tr><td>Domain</td><td>Safe</td></tr>
                                                              <tr><td>Goal</td><td>{{ one_safe.ev_goal }} - {{ one_safe.ev_goal|gen_value:vals }}</td></tr>
                                                              <tr><td>Needs / Gaps</td><td>{{ one_safe.ev_need }} - {{ one_safe.ev_need|gen_value:vals }}</td></tr>
                                                              <tr><td>Priority Actions</td><td>{{ one_safe.ev_priority }} - {{ one_safe.ev_priority|gen_value:vals }}</td></tr>
                                                              <tr><td>Services</td><td>{{ one_safe.ev_services }} - {{ one_safe.ev_services|gen_value:vals }}</td></tr>
                                                              <tr><td>Person Responsible</td><td>{{ one_safe.ev_responsible }}</td></tr>
                                                              <tr><td>Completion date</td><td>{{ one_safe.ev_completion_date }}</td></tr>
                                                              <tr bgcolor="#ddd"><td colspan="2"><b>Case Plan Metadata</b></td></tr>
                                                              <tr><td>User ID</td><td>{{ one_safe.ev_meta.created_by }}</td></tr>
                                                              {% for ev in one_cpt_event.event_user %}
                                                              <tr><td>Username</td><td>{{ ev.username }}</td></tr>
                                                              <tr><td>Name</td><td>{{ ev.reg_person.first_name }} {{ ev.reg_person.surname }} ({{ ev.reg_person.id }})</td></tr>
                                                              {% endfor %}                                                               
                                                              <tr><td>Timestamp</td><td>{{ one_safe.ev_meta.timestamp_created }}</td></tr>
                                                              <tr bgcolor="#ddd"><td colspan="2"><b>Monitor details</b></td></tr>
                                                              <tr><td colspan="2"><div id="cpt-message-{{ one_safe.cid }}"></div></td></tr>
                                                              <tr><td>Results</td><td>{{ form.CPT_RESULTS }}</td></tr>
                                                              <tr><td>Actual completion date</td><td>{{ form.CPT_ACTUAL_DATE_COMPLETION }}</td></tr>
                                                              <tr><td>Reasons</td><td>{{ form.CPT_REASONS }}</td></tr>
                                                              <tr><td></td><td></td></tr>
                                                          </table>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="hidden" value="{{ one_safe.cid }}" name="CPT_EVENT">
                                                          <button value="{{ one_safe.cid }}" type="button" class="btn btn-default btn-primary cptMonitor">Monitor</button>
                                                          <button type="button" class="btn btn-default btn-default" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                      </div>
                                                      </form>
                                                    </div>
                                                  </div>
                                               </td>
                                            </tr>
                                            {% endfor %}
                                       {% endif %}
                                       {% if one_cpt_event.event_school %}
                                       <tr bgcolor="#f0f3f5">
                                            <td colspan="10"><b>SCHOOLED</b></td>
                                       </tr>
                                            {% for one_school in one_cpt_event.event_school %}
                                            <tr>
                                                <td></td>
                                                <td>{{ one_school.ev_date }}</td>
                                               <td>{{ one_school.ev_goal }}</td>
                                               <td>{{ one_school.ev_need }}</td>
                                               <td>{{ one_school.ev_priority }}</td>
                                               <td>{{ one_school.ev_services }}</td>
                                               <td>{{ one_school.ev_responsible }}</td>
                                               <td>{{ one_school.ev_completion_date}}</td>
                                               <td>{{ one_school.ev_results }}</td>
                                               <td>{{ one_school.ev_reasons }}</td>
                                               <td>
                                                   <a href="#monitor-caseplan-{{ one_school.cid }}" class="btn btn-sm btn-danger btn-outline" data-toggle="modal">Monitor &nbsp;&nbsp;</a>
                                                <!--Confirm form1a delete Modal -->
                                                  <div class="modal fade" id="monitor-caseplan-{{ one_school.cid }}" style="margin-left: auto; margin-right: auto; width: 90%;" role="dialog">
                                                    <div class="modal-dialog modal-sm">

                                                      <!-- Modal content-->
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                          <h4 class="modal-title">Monitor - {{ one_cpt_event.event_id }}</h4>
                                                        </div>
                                                        <form id='cpt-monitoring-{{ one_school.cid }}' class="inline" method="post" action=".">
                                                        {% csrf_token %}
                                                        <div class="modal-body">
                                                          <table class="table">
                                                              <tr bgcolor="#ddd"><th>Item</th><th>Value</th></tr>
                                                              <tr><td>Domain</td><td>Schooled</td></tr>
                                                              <tr><td>Goal</td><td>{{ one_school.ev_goal }} - {{ one_school.ev_goal|gen_value:vals }}</td></tr>
                                                              <tr><td>Needs / Gaps</td><td>{{ one_school.ev_need }} - {{ one_school.ev_need|gen_value:vals }}</td></tr>
                                                              <tr><td>Priority Actions</td><td>{{ one_school.ev_priority }} - {{ one_school.ev_priority|gen_value:vals }}</td></tr>
                                                              <tr><td>Services</td><td>{{ one_school.ev_services }} - {{ one_school.ev_services|gen_value:vals }}</td></tr>
                                                              <tr><td>Person Responsible</td><td>{{ one_school.ev_responsible }}</td></tr>
                                                              <tr><td>Completion date</td><td>{{ one_school.ev_completion_date }}</td></tr>
                                                              <tr bgcolor="#ddd"><td colspan="2"><b>Case Plan Metadata</b></td></tr>
                                                              <tr><td>User ID</td><td>{{ one_school.ev_meta.created_by }}</td></tr>
                                                              {% for ev in one_cpt_event.event_user %}
                                                              <tr><td>Username</td><td>{{ ev.username }}</td></tr>
                                                              <tr><td>Name</td><td>{{ ev.reg_person.first_name }} {{ ev.reg_person.surname }} ({{ ev.reg_person.id }})</td></tr>
                                                              {% endfor %}                                                               
                                                              <tr><td>Timestamp</td><td>{{ one_school.ev_meta.timestamp_created }}</td></tr>
                                                              <tr bgcolor="#ddd"><td colspan="2"><b>Monitor details</b></td></tr>
                                                              <tr><td colspan="2"><div id="cpt-message-{{ one_school.cid }}"></div></td></tr>
                                                              <tr><td>Results</td><td>{{ form.CPT_RESULTS }}</td></tr>
                                                              <tr><td>Actual completion date</td><td>{{ form.CPT_ACTUAL_DATE_COMPLETION }}</td></tr>
                                                              <tr><td>Reasons</td><td>{{ form.CPT_REASONS }}</td></tr>
                                                              <tr><td></td><td></td></tr>
                                                          </table>
                                                        </div>
                                                        <div class="modal-footer">
                                                           <input type="hidden" value="{{ one_school.cid }}" name="CPT_EVENT">
                                                           <button value="{{ one_school.cid }}" type="button" class="btn btn-default btn-primary cptMonitor">Monitor</button>
                                                          <button type="button" class="btn btn-default btn-default" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                      </div>
                                                  </form>

                                                    </div>
                                                  </div>
                                               </td>
                                            </tr>
                                            {% endfor %}                                            
                                        
                                       {% endif %}
                                    {% endif %}

                                {% endfor %}
                                </table>

                        </fieldset>

                    </div>
            </div>
            <a href="{% url 'ovc_view' id=child.id %}" class="badge badge-primary m-4"> Back to OVC</a>
            <div class="badge pull-right m-4">Revised: May 2022</div>
        </div>
        <!-- end panel -->

    </div>
    <!-- end col-12 -->

</div>
<!-- end row -->

<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>                          
                <h4 class="panel-title"><b>Case Plan Template </b></h4>
            </div>

            <div class="panel-body">
                <div  class="panel panel-inverse">
                    <div id="case-events"  class="table-responsive">
                        <table id="past_cpt_table" class="table table-condensed table-bordered table-striped">
                            <thead>
                                <tr>
                                    
                                    <th>#</th>
                                    <th>Domain</th>
                                    <th>Goal</th>
                                    <th>Needs/Gaps</th>
                                    <th>Priority Actions</th>
                                    <th>Services</th>
                                    <th>Person Responsible</th>
                                    <th>Date Completed</th>
                                    <th>Results</th>
                                    <th>Reasons</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for one_cpt_event in caseplan_events %}
                                    {% if one_cpt_event %}
                                        <tr>
                                            <td rowspan="4" style="text-align: center;vertical-align: middle;" width="40px" valign="center">{{forloop.counter}}</td>
                                            <td style="text-align: center;vertical-align: middle;"><b>HEALTHY</b></td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_goal}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_need}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_priority}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_services}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_responsible}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_completion_}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_results}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_healthy in one_cpt_event.event_healthy %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_healthy.ev_reasons}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td rowspan="4" style="text-align: center;vertical-align: middle;" width="40px" valign="center">
                                                <a href="{% url 'update_caseplan' event_id=one_cpt_event.event_id ovcid=one_cpt_event.event_ovc %}" class="btn btn-sm btn-primary btn-outline btn-sm">Update &nbsp; </a><p></p>
                                                <a href="{% url 'monitor_caseplan' event_id=one_cpt_event.event_id ovcid=one_cpt_event.event_ovc %}" class="btn btn-sm btn-primary btn-outline">Monitor</a><p></p>
                                                <a href="#delete-caseplan-entry-{{ one_cpt_event.event_id }}" class="btn btn-sm btn-danger btn-outline" data-toggle="modal">Delete &nbsp;&nbsp;</a>
                                                <!--Confirm form1a delete Modal -->
                                                  <div class="modal fade" id="delete-caseplan-entry-{{ one_cpt_event.event_id }}" style="margin-left: auto; margin-right: auto; width: 90%;" role="dialog">
                                                    <div class="modal-dialog modal-sm">

                                                      <!-- Modal content-->
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                          <h4 class="modal-title">Delete Case Plan Entry - {{ one_cpt_event.event_id }}</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                          <p style="color: #ff0000; font-size: 16px;">Delete selected entry?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                          <button type="button" class="btn btn-default btn-default" onclick="deleteCPTEntry({{one_cpt_event.event_ovc }}, '{{ one_cpt_event.event_id }}' )" data-dismiss="modal">Yes</button>
                                                          <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                      </div>

                                                    </div>
                                                  </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;vertical-align: middle;"><b>STABLE</b></td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_goal}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_need}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_priority}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_services}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_responsible}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_completion_date}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_results}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_stable in one_cpt_event.event_stable %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_stable.ev_reasons}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;vertical-align: middle;"><b>SAFE</b></td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_goal}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_need}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_priority}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_services}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_responsible}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_completion_date}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_results}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_safe in one_cpt_event.event_safe %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_safe.ev_reasons}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr style="border-bottom: 5px solid #aaa;">
                                            <td style="text-align: center;vertical-align: middle;"><b>SCHOOLED</b></td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_goal}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_need}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_priority}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_services}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_responsible}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_completion_date}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_results}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% for one_school in one_cpt_event.event_school %}
                                                    <small><b>({{forloop.counter}})</b></small> <small>{{one_school.ev_reasons}}</small><hr class="m-t-0 m-b-0"/>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                            </tbody>
                        </table>

                    </div>
                         
                </div>
            </div>

        </div>
        <!-- end panel -->
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->


{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>	
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>

<script>

    $(document).ready(function () {
        // $('#CPT_ACTUAL_DATE_COMPLETION').removeAttr('required');
        $('*[name=CPT_ACTUAL_DATE_COMPLETION]').datepicker({ format: 'yyyy-mm-dd' });
        $('#CPT_ACTUAL_DATE_COMPLETION').val('1900-01-01');
        $('*[name=CPT_RESULTS]').prepend('<option selected value="">Pick an item</option>').attr('required', true);


        $(".cptMonitor").click(function(e){
            var val = $(this).val();
            var csrftoken = $.cookie('csrftoken');
            var msg_id = $('#cpt-message-' + val);
            $(msg_id).removeClass( "alert alert-danger fade in" );
            if ( $('#cpt-monitoring-' + val).parsley().isValid() ) {
                var fms = $('#cpt-monitoring-' + val).serialize();
                console.log('cpt', val, fms);
                //$(this).closest("form").submit();
                $('#cpt-monitoring-' + val).submit();

                
            }else{
                console.log('Invalid cpt form');                
                $(msg_id).addClass( "alert alert-danger fade in" );
                $(msg_id).html( "Please provide the Results, Actual completion date and Reasons" );
            }
        });

    });
    

    function deleteCPTEntry(ovc_id, event_id){
        //alert('Delete record');
        var CPTDelete= "{% url 'delete_caseplan' id=1234 event_id='00000000-0000-0000-0000-000000000000' %}".replace(/1234/, ovc_id.toString()).replace(/00000000-0000-0000-0000-000000000000/, event_id.toString());
        // alert();
        window.location.href = CPTDelete;
    }

    
</script>
{% endblock %}
	