{% extends 'base.html' %}
{% load app_filters %}
{% load static %}
{% block page_title %} Reaching Case Plan Achievement {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html"/>
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
<style type="text/css">
.dialog_paragraph {
  color: #f00;
}

.table_data {
  display: none;
}

.container {
    width: 100%;
    overflow-x: auto;
}

.td_style {
  /*color: #000000;*/
  color: #0057e7;
}
</style>
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}

<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</

        a></li>
	<li class="active">Forms</li>
</ol>
<!-- end breadcrumb -->

<!-- begin page-header -->
{% for data in init_data %}
<h1 class="page-header">
    <small> Care Giver's Name:       {{ care_giver }} <br> <br> </small> </h1>

{% endfor %}


<!-- end page-header -->

<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span class="invalid-form-message" id="invalid-form-message"></span>
</div>

<!-- begin row -->
<div id='case_details' class="row">
	<!-- begin col-12 -->
    <div class="col-md-12">
    	<!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i class="fa fa-minus"></i></a>
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i class="fa fa-times"></i></a>
                </div>
                <h1 class="panel-title">
                {% for data in init_data %}

                     Reaching Case Plan Achievement: <b> &nbsp;{{ data.first_name }} {{ data.surname }} | {{ data.sex_id|gen_value:vals }} ||
        {% if data.date_of_birth|gen_age == 0 %}
                    UNDER 1 YEAR
                {% else %}
                    {{ data.date_of_birth|gen_age }} YRS
                {% endif %}</b> </small>
        </b>
                {% endfor %}
                </h1>


            </div>
            <div class="panel-body">
            	<form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true">
                	{% csrf_token %}
						<div class="panel-body ">

							    <!-- add labels like HA1, HA2 .. -->
                            <div id="wizard-caseclosureform">
							    <h3 class="text-center note note-info"> Personal Information For The Child</h3>
							<div class="form-group"> <table class="table table-bordered">


                                <tbody>
                                <tr>
                                    <td>Q1A</td>
                                    <td>Reason for Case Closure (tick):
                                    </td>
                                   <div id="ss_main">
                                        <td>
                                        {{form.CASE_CL001}}

                                    </td>
                                   </div>

                                </tr>

                                <div >
                                    <tr id="cc_001">
                                        <td>Q1B</td>

                                    <td>For those Transferred (Name of receiving Organization/program):<span class="asteriskField">*</span>
                                    </td>
                                    <td>

                                        {{form.CASE_CL002}}
                                    </td>
                                </tr>
                                </div>

                               <div >
                                    <tr id="cc_002">
                                        <td>Q1C</td>

                                    <td>For Attrition: Specify reason for attrition. Tick below:<span class="asteriskField">*</span>
                                    </td>
                                    <td>
                                        <div class="row " >
                                            <div class="col-md-6 ">


                                                {{form.CASE_CL027}}
                                                {{form.CASE_CL004}}

                                            </div>

                                        </div>
                                                </td>

                        </tr>
                               </div>
                        </tbody>
                        </table>

                            </div>

                        <!-- </div> -->
                            <div id="cc_tab_001">
                                  <h3 class="text-center note note-info">Case Closure Checklist for Case Plan Achievement.</h3>
                                  <div class="form-group" >
                            <table class="table table-bordered">
                                <thead>
                                <tr>

                                    <th scope="col">Questions</th>
                                    <th scope="col">Options/Answers</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>Q2</td>

                                    <td>Case files completed per the protocol. </td>
                                    <td>
                                        {{ form.CASE_CL006}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Q3</td>

                                    <td>Case Worker has given phone number to household   Head of household linked to a family, which already graduated.</td>
                                    <td>
                                        {{ form.CASE_CL007 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Q4</td>
                                    <td>Informed necessary service providers of graduation.</td>
                                    <td>{{ form.CASE_CL008 }}</td>
                                </tr>
                                <tr>
                                    <td>Q5</td>
                                    <td>Files stored in a safe place (locked cabinet).</td>
                                    <td>
                                        {{ form.CASE_CL009 }}

                                    </td>
                                </tr>

                                </tbody>
                            </table>

                            <p>&nbsp;</p>

                        </div>
                            </div>
                            <div id="cc_tab_002">
                                <h3 class="text-center note note-info" >Case Closure Checklist for Transfer.</h3>
							    <div class="form-group" >
                            <table class="table table-bordered">
                                <thead>
                                <tr>

                                    <th scope="col">Questions?</th>
                                    <th scope="col">Options/Answers</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>Q6</td>

                                    <td>Case Transfer Form completed per the protocol.</td>
                                    <td>
                                        {{ form.CASE_CL010}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Q7</td>

                                    <td>Referring Case Manager established time and frequency for follow up</td>
                                    <td>
                                        {{ form.CASE_CL011 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Q8</td>
                                    <td>Informed necessary service providers of case transfer.</td>
                                    <td>{{ form.CASE_CL012 }}</td>
                                </tr>
                                <tr>
                                    <td>Q9</td>
                                    <td>Copy of family folder sent to receiving organization.</td>
                                    <td>
                                        {{ form.CASE_CL013 }}

                                    </td>
                                </tr>
                                <tr>
                                    <td>Q10</td>
                                    <td>Files stored in a safe place (locked cabinet). </td>
                                    <td>
                                        {{ form.CASE_CL014 }}

                                    </td>
                                </tr>

                                </tbody>
                            </table>

                            <p>&nbsp;</p>

                        </div>
                            </div>
                            <div id="cc_tab_003">
                                 <h3 class="text-center note note-info">Case Closure Checklist for Attrition.</h3>
							        <div class="form-group" >
                            <table class="table table-bordered">
                                <thead>
                                <tr>

                                    <th scope="col">Questions?</th>
                                    <th scope="col">Options/Answers</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>Q11</td>

                                    <td>Reason for attrition documented in family folder. </td>
                                    <td>
                                        {{ form.CASE_CL030}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Q12</td>

                                    <td>Case Manager Report</td>
                                    <td>
                                        {{ form.CASE_CL029 }}
                                    </td>
                                </tr>

                                  <tr>
                                      <td>Q13</td>

                                    <td>Files stored in a safe place (locked cabinet).</td>
                                    <td>
                                        {{ form.CASE_CL028 }}
                                    </td>
                                </tr>
                                   <tr>
                                       <td>Q14</td>

                                    <td>Exit reason recorded in OVC Database  </td>
                                    <td>
                                        {{ form.CASE_CL031 }}
                                    </td>
                                </tr>
                                   <tr>
                                       <td>Q15</td>

                                    <td>Name of Case Manager/LIP staff certifying</td>
                                    <td>
                                        {{ form.CASE_CL024 }}
                                    </td>
                                </tr>


                                <tr>
                                    <td>Q16</td>

                                      <td>
                                        Date
                                    </td>
                                     <td>
                                             {{ form.CASE_CL026 }}
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                            <p>&nbsp;</p>

                        </div>
                            </div>

                        </div>


					<div class="panel-body panel-form">
						<div class="form-group">
							<label class="control-label col-md-4 col-sm-4"></label>
							<div class="col-md-6 col-sm-6">
								<button type="submit" class="btn btn-primary">Submit</button>
								<a href="javascript:history.go(-1)" class="btn btn-white">Cancel</a>
							</div>
						</div>
                    </div>
                </div>

                </form>
                  <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table table-success table-striped" border="1" id="past-hst">

                        <thead>
                        <tr>
                            <th>Q1A</th>
                            <th>Q1B</th>
                            <th>Q1C</th>
                            <th>Q2</th>
                            <th>Q3</th>
                            <th>Q4</th>
                            <th>Q5</th>
                            <th>Q6</th>
                            <th>Q7</th>
                            <th>Q8</th>
                            <th>Q9</th>
                            <th>Q10</th>
                            <th>Q11</th>
                            <th>Q12</th>
                            <th>Q13</th>
                            <th>Q13</th>
                             <th>Q14</th>
                             <th  colspan="2">Action</th>




{#                            <th>Date of Event</th>#}
                        </tr>
                        </thead>
                        {% if case_closure %}

                            {% for case_closure_data in case_closure %}

                                <tr>
                                    <td>{{ case_closure_data.closure_reason }}</td>
{#                                    <td>{{ case_closure_data.receiving_org}}</td>#}
                                    <td>{{ case_closure_data.attrition_reason }} || {{ case_closure_data.other}}</td>
                                    <td>{{ case_closure_data.case_files_completed }}</td>
                                    <td>{{ case_closure_data.cw_phone_household  }}</td>
                                    <td>{{ case_closure_data.sp_informed_graduation }}</td>
                                    <td>{{ case_closure_data.files_stored  }}</td>
                                    <td>{{ case_closure_data.transfer_form_completed  }}</td>
                                    <td>{{ case_closure_data.follow_up_frequency}}</td>
                                    <td>{{ case_closure_data.sp_informed_tarnsfer}}</td>
                                    <td>{{ case_closure_data.family_folder_sent }}</td>
                                    <td>{{ case_closure_data.files_stored }}</td>
                                    <td>{{ case_closure_data.attrition_documented }}</td>
                                    <td>{{ case_closure_data.manager_report }}</td>
                                    <td>{{ case_closure_data.files_stored }}</td>
                                    <td>{{ case_closure_data.exit_reason }}</td>
                                    <td>{{ case_closure_data.staff_certifying}}</td>
                                    <td>{{ case_closure_data.date_of_closure }}</td>
                                <td>                <a href="{% url 'edit_caseclosure' case_closure_data.case_clouse_id%}"><button type="button" class="btn btn-sm btn-primary m-r-5"><i class="fa fa-pencil"></i>&nbsp;Edit</button></a> </td>
                                    <td> <a href="{% url 'delete_caseclosure' case_closure_data.case_clouse_id%}"><button type="button" class="btn btn-sm btn-danger m-r-5"><i class="fa fa-trash"></i>&nbsp;Delete</button></a> </td>



                                </tr>
                            {% endfor %}
                        {% else %}

                        {% endif %}
                    </table>


                </div>
            </div>

            </div>

        </div>
        <!-- end panel -->

    </div>
    <!-- end col-12 -->



</div>
<!-- end row -->

{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>	
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script src="{% static 'js/tag-it.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>
<script>

jQuery(document).ready(function()
{

        $('#CASE_CL026').datepicker({ format: 'yyyy-mm-dd' }).val();
             $('#cc_001').hide();
             $('#cc_002').hide();
            $("#cc_tab_001").hide();
            $("#cc_tab_002").hide();
            $("#cc_tab_003").hide();
            $("input[name='CASE_CL001']").on('change', function () {
      var ival = $("input[name='CASE_CL001']:checked").val();
      if(ival == '2'){
           $("#cc_001").show();
           $("#cc_tab_002").show();
           $("#cc_002").hide();
           $("#cc_tab_001").hide();
           $("#cc_tab_003").hide();
      }else if(ival == '3'){
          $("#cc_002").show();
          $("#cc_tab_003").show();
          $("#cc_001").hide();
          $("#cc_tab_001").hide();
          $("#cc_tab_002").hide();
      }else if(ival == '1'){
          $("#cc_tab_001").show();
          $("#cc_tab_003").hide();
          $("#cc_tab_002").hide();
      }

  });

	$('html,body').scrollTop(0);
	FormWizardValidation.init();
});


</script>




{% endblock lazy_javascript_code %}