{% extends 'base.html' %}
{% load app_filters %}
{% load static %}
{% block page_title %} Preventive Attendance Register {% endblock %}
{% block style_code %}
<link href="{% static 'plugins/parsley/src/parsley.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">
<link href="{% static 'plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.tagit.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-table.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block javascript_code%}
{% endblock javascript_code%}

{% block primary %}

<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Forms</li>
</ol>
<!-- end breadcrumb -->

<!-- begin page-header -->
{% for data in init_data %}
<h1 class="page-header">Forms
    <small>Preventive Attendance Register<b> &nbsp;{{ data.first_name }} {{ data.surname }} | {{
            data.sex_id|gen_value:vals }} |
            {% if data.date_of_birth|gen_age == 0 %}
            UNDER 1 YEAR
            {% else %}
            {{ data.date_of_birth|gen_age }} YRS
            {% endif %}</b></small>
    </b>
</h1>
{% endfor %}

<!-- end page-header -->

<div id="messages" class="alert alert-danger fade in" style="display: none;" tabindex="1">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-info fa-2x pull-left"></i>
    <span class="invalid-form-message" id="invalid-form-message"></span>
</div>

<!-- begin row -->
<div id='case_details' class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div style="overflow-x: auto; min-height: 300px;">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-expand"><i
                                class="fa fa-minus"></i></a>
                        <a href="#" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-collapse"><i
                                class="fa fa-times"></i></a>
                    </div>
                    <h4 class="panel-title"> Preventive Attendance Register </h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true"
                        name="form-wizard-hhva" id="new_hhva">
                        {% csrf_token %}
                        <div id="wizard-dreamsform">
                            <ol>

                                <li>
                                    ATTENDANCE (Indicate date attended)
                                    <small></small>
                                </li>

                                <li>
                                    SERVICES/REFERRALS MADE AND COMPLETED for TEEN
                                    <small></small>
                                </li>
                                <li>
                                    SERVICES/REFERRALS MADE AND COMPLETED FOR CAREGIVER
                                    <small></small>
                                </li>
                                <li>
                                    SOCIAL PROTECTION
                                    <small></small>
                                </li>
                                <li>
                                    OTHER INTERVENTIONS
                                    <small></small>
                                </li>

                            </ol>

                            <!-- begin wizard step-1 -->
                            <div class="wizard-step-1">
                                <h3 style="margin-top: 0;color:#55518a"> ATTENDANCE (Indicate date attended)</h3>
                                <div class="form-group">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Session</th>
                                                <th scope="col">Attendance Status</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">MAKE UP SESSION (Indicate date completed)
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>S1.</td>
                                                <td>
                                                    {{ form.SESSION_ATTENDANCE_1 }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_1_DATE }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_1_DATE }}
                                                </td>


                                            </tr>

                                            <tr>
                                                <td>S2</td>
                                                <td>
                                                    {{ form.SESSION_ATTENDANCE_1 }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_2_DATE }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_1_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>S3</td>
                                                <td>
                                                    {{ form.SESSION_ATTENDANCE_1 }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_3_DATE }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_1_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>S4</td>
                                                <td>
                                                    {{ form.SESSION_ATTENDANCE_1 }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_4_DATE }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_1_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>S5</td>
                                                <td>
                                                    {{ form.SESSION_ATTENDANCE_1 }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_5_DATE }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_1_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>S6</td>
                                                <td>
                                                    {{ form.SESSION_ATTENDANCE_1 }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_6_DATE }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_1_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>S7</td>
                                                <td>
                                                    {{ form.SESSION_ATTENDANCE_1 }}
                                                </td>

                                                <td>
                                                    {{ form.SESSION_7_DATE }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_1_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>S8</td>
                                                <td>
                                                    {{ form.SESSION_ATTENDANCE_8 }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_8_DATE }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_1_DATE }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>S9</td>
                                                <td>
                                                    {{ form.SESSION_ATTENDANCE_9 }}
                                                </td>

                                                <td>
                                                    {{ form.SESSION_9_DATE }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_1_DATE }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>S10</td>
                                                <td>
                                                    {{ form.SESSION_ATTENDANCE_10 }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_10_DATE }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_1_DATE }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>S11</td>
                                                <td>
                                                    {{ form.SESSION_ATTENDANCE_11 }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_11_DATE }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_1_DATE }}
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>S12</td>
                                                <td>
                                                    {{ form.SESSION_ATTENDANCE_12 }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_12_DATE }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_1_DATE }}
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>S13</td>
                                                <td>
                                                    {{ form.SESSION_ATTENDANCE_13 }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_13_DATE }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_1_DATE }}
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>S14</td>
                                                <td>
                                                    {{ form.SESSION_ATTENDANCE_14 }}
                                                </td>

                                                <td>
                                                    {{ form.SESSION_14_DATE }}
                                                </td>
                                                <td>
                                                    {{ form.SESSION_1_DATE }}
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="col-md-9">
                                        <h>COMPLETED ALL SESSION</h>
                                        {{form.COMPLETED_ALL_SESSIONS}}
                                    </div>
                                    <div class="col-md-9">
                                        <h>OVC REFERENCED FOR SERVICES</h>
                                        {{form.COMPLETED_ALL_SESSIONS}}
                                    </div>

                                    <p>&nbsp;</p>

                                </div>


                            </div>
                            <!-- end wizard step-1 -->

                            <!-- begin wizard step-2 -->
                            <div class="wizard-step-2">
                                <h3 style="margin-top: 0;color:#55518a"> SERVICES/REFERRALS MADE AND COMPLETED for TEEN
                                </h3>
                                <div class="form-group">
                                    <table class="table table-bordered">
                                        <!-- <caption>Life Expectancy By Current Age</caption> -->
                                        <tr>
                                            <th colspan="4">VMMC</th>
                                            <th colspan="4">PV/RC</th>
                                            <th colspan="4">PSS</th>
                                            <th colspan="4">HTS</th>
                                            <th colspan="4">Legal Aid</th>
                                            <th colspan="4">DREAMS</th>
                                            <th colspan="4">OVC COMPREHENSIVE</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2">R</th>
                                            <th colspan="2">C</th>
                                            <th colspan="2">R</th>
                                            <th colspan="2">C</th>
                                            <th colspan="2">R</th>
                                            <th colspan="2">C</th>
                                            <th colspan="2">R</th>
                                            <th colspan="2">C</th>
                                            <th colspan="2">R</th>
                                            <th colspan="2">C</th>
                                            <th colspan="2">R</th>
                                            <th colspan="2">C</th>
                                            <th colspan="2">R</th>
                                            <th colspan="2">C</th>
                                        </tr>
                                        <tr>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <!-- <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td> -->
                                        </tr>
                                    </table>

                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <!-- end wizard step-2 -->

                            <!-- begin wizard step-3 -->
                            <div class="wizard-step-3">
                                <h3 style="margin-top: 0;color:#55518a"> SERVICES/REFERRALS MADE AND COMPLETED FOR CAREGIVER										 </h3>
                                <div class="form-group">

                                    <table class="table table-bordered">
                                        <!-- <caption>Life Expectancy By Current Age</caption> -->
                                        <tr>
                                            <th colspan="4">PV/RC</th>
                                            <th colspan="4">PSS</th>
                                            <th colspan="4">HTS</th>
                                            <th colspan="4">Legal Aid</th>
                                            <th colspan="4">Other</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2">R</th>
                                            <th colspan="2">C</th>
                                            <th colspan="2">R</th>
                                            <th colspan="2">C</th>
                                            <th colspan="2">R</th>
                                            <th colspan="2">C</th>
                                            <th colspan="2">R</th>
                                            <th colspan="2">C</th>
                                            <th colspan="2">R</th>
                                            <th colspan="2">C</th>
                                            <!-- <th colspan="2">R</th>
                                            <th colspan="2">C</th>
                                            <th colspan="2">R</th>
                                            <th colspan="2">C</th> -->
                                        </tr>
                                        <tr>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                             <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <!-- <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td>
                                            <td>{{form.REFERAL_MADE}}</td> -->
                                        </tr>
                                    </table>

                                    <p>&nbsp;</p>

                                </div>


                            </div>
                            <!-- end wizard step-3 -->

                            <!-- begin wizard step-4 -->
                            <div class="wizard-step-4">
                                <h3 style="margin-top: 0;color:#55518a"> 4. SOCIAL PROTECTION</h3>
                                <div class="form-group">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Questions</th>
                                                <th scope="col">Answer</th>
                                                <th scope="col">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="4" style="background-color: mediumturquoise">Education
                                                    Support </td>

                                            </tr>


                                            <tr>
                                                <td>4.1</td>
                                                <td>
                                                    School Fees
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_046 }}
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_046_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>4.2</td>
                                                <td>
                                                    Stationery
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_047 }}
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_047_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>4.3</td>
                                                <td>
                                                    Uniform
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_048 }}
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_048_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>4.4</td>
                                                <td>
                                                    Other (Specify)
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_049 }}
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_049_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="4" style="background-color: mediumturquoise">
                                                    Parent/Caregiver Program </td>

                                            </tr>


                                            <tr>
                                                <td>4.5</td>
                                                <td>
                                                    FMP
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_050 }}
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_050_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="4" style="background-color: mediumturquoise">Economic
                                                    Strengthening </td>

                                            </tr>


                                            <tr>
                                                <td>4.6</td>
                                                <td>
                                                    Entrepreneur/Financial Training
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_051 }}
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_051_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>4.7</td>
                                                <td>
                                                    Vocational Training
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_052 }}
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_052_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>4.8</td>
                                                <td>
                                                    Microfinance
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_053 }}
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_053_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>4.9</td>
                                                <td>
                                                    Internship/Employment
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_054 }}
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_054_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>4.10</td>
                                                <td>
                                                    Business/start-up
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_055 }}
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_055_DATE }}
                                                </td>
                                            </tr>




                                        </tbody>
                                    </table>

                                    <p>&nbsp;</p>

                                </div>


                            </div>
                            <!-- end wizard step-4 -->

                            <!-- begin wizard step-5 -->
                            <div class="wizard-step-5">
                                <h3 style="margin-top: 0;color:#55518a"> 5. OTHER INTERVENTIONS</h3>
                                <div class="form-group">

                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Questions</th>
                                                <th scope="col">Answer</th>
                                                <th scope="col">Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>5.1</td>
                                                <td>Cash Transfer</td>
                                                <td>
                                                    {{ form.DREAMS_056 }}
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_056_DATE }}
                                                </td>
                                            </tr>

                                            <tr>

                                                <td>5.2</td>
                                                <td>OVC for Children/Siblings/Other</td>
                                                <td>
                                                    {{ form.DREAMS_057 }}
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_057_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>5.3</td>
                                                <td>Nutritional Support</td>
                                                <td>
                                                    {{ form.DREAMS_058 }}
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_058_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>5.4</td>
                                                <td>Drug and Alcohol Addiction Counselling</td>
                                                <td>
                                                    {{ form.DREAMS_059 }}
                                                </td>
                                                <td>
                                                    {{ form.DREAMS_059_DATE }}
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="4" style="background-color: mediumturquoise"> Social Asset
                                                    Building
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>5.5</td>
                                                <td>Quarter</td>
                                                <td>
                                                    {{ form.DREAMS_060_DATE }}
                                                </td>
                                                <td style="background-color: gray"></td>
                                            </tr>

                                            <tr>
                                                <td>5.6</td>
                                                <td>Number of SS Sessions Attended</td>
                                                <td>
                                                    {{ form.DREAMS_060 }}
                                                </td>
                                                <td style="background-color: gray"></td>
                                            </tr>

                                            <tr>
                                                <td colspan="4" style="background-color: mediumturquoise"> Comments
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>5.7</td>
                                                <td>Comments</td>
                                                <td>
                                                    {{ form.DREAMS_061 }}
                                                </td>
                                                <td style="background-color: gray"></td>
                                            </tr>

                                            <tr>
                                                <td colspan="4" style="background-color: mediumturquoise"> Other
                                                    Services
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>5.8</td>
                                                <td>Other Services</td>
                                                <td>
                                                    {{ form.DREAMS_062 }}
                                                </td>
                                                <td style="background-color: gray"></td>
                                            </tr>

                                        </tbody>
                                    </table>

                                    <p>&nbsp;</p>

                                </div>


                            </div>
                            <!-- end wizard step-5 -->


                        </div>

                        <div class="panel-body panel-form">
                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4"></label>
                                <div class="col-md-6 col-sm-6">
                                    <button id="mysubmit-hivscreeningtool" type="submit"
                                        class="btn btn-primary">Submit</button>
                                    <a href="javascript:history.go(-1)" class="btn btn-white">Cancel</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="badge pull-right m-4">Revised: 4th July 2019</div>
        </div>
        <!-- end panel -->

    </div>
    <!-- end col-12 -->

</div>
<!-- end row -->

{% endblock %}

{% block lazy_javascript_code %}
<script src="{% static 'plugins/parsley/dist/parsley.js' %}"></script>
<script src="{% static 'plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'js/apps.js' %}"></script>
<script src="{% static 'js/form-wizards.js' %}"></script>
<script src="{% static 'js/tag-it.js' %}"></script>
<script src="{% static 'js/bootstrap-table.min.js' %}"></script>
<script src="{% static 'js/bootstrap-table-locale-all.min.js' %}"></script>

<script>
    $(function () {

        $('#DREAMS_001_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_002_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_003_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_004_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_005_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_006_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_007_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_010_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_012_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_014_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_017_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_019_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_021_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_022_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_023_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_024_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_025_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_026_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_027_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_028_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_029_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_030_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_031_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_032_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_033_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_034_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_035_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_036_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_037_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_038_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_039_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_040_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_041_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_042_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_043_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_044_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_045_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_046_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_047_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_048_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_049_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_050_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_051_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_052_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_053_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_054_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_055_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_056_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_057_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_058_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_059_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();
        $('#DREAMS_060_DATE').datepicker({ format: 'yyyy-mm-dd' }).val();

        $(document).ready(function () {
            $("#wizard-dreamsform").bwizard();
        });

    });
</script>

{% endblock %}