{% extends 'base.html' %}
{% load static %}
{% block page_title %} Manage Roles and Permissions {% endblock %}

{% load app_filters %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
    <li><a href="#">Home</a></li>
    <li class="active">Roles</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Registry <small>Manage Roles</small></h1>
<!-- end page-header -->
{% if messages %}
<div id="messages" class="alert alert-success fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.info %} class="{{ message.info }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if message %}
    <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
        <p class="invalid-form-message"> {{ message }}</p>
    </div>
{% endif %}
<!-- begin row -->
<div class="invoice">
    <div class="invoice-company">

        <span class="pull-right hidden-print">
        {% if user.is_superuser or is_supervisor %}
        <span class="label label-danger">Account management NOT allowed</span>
        {% else %}
        <a href="#modal-activate" class="btn btn-success m-b-10" data-toggle="modal"><i class="fa fa-cogs m-r-5"></i> Activate Account</a>
        <a href="#modal-password" class="btn btn-warning m-b-10" data-toggle="modal"><i class="fa fa-cogs m-r-5"></i> Change Password</a>
        <a href="#modal-deactivate" class="btn btn-danger m-b-10" data-toggle="modal"><i class="fa fa-cogs m-r-5"></i> Deactivate Account</a>
        <a href="#modal-force-change" class="btn btn-primary m-b-10" data-toggle="modal"><i class="fa fa-download m-r-5"></i> Force password change</a>
        <!--
        <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-success m-b-10"><i class="fa fa-print m-r-5"></i> Print</a>
    -->
    
        {% endif %}
        </span>        
        {{ person.full_name }} ({{ person.id }})
    </div>
</div>
<br>
<div id="user-message" class="alert alert-success fade in">
    <span class="close" data-dismiss="alert">×</span>
    <i class="fa fa-check fa-2x pull-left"></i>
    <p id="user-form-message">OK</p>
</div>
<div class="row">
<!-- Start content area -->
    <div class="col-md-12">
        <!-- begin panel -->
        <form class="form-horizontal form-bordered" action="." method="POST" data-parsley-validate="true" name="form-wizard" id="roles">
        {% csrf_token %}
        {{ form.user_id }}
        <input type="hidden" name="person_id" id="person_id" value="{{ user.reg_person_id }}">
        <input type="hidden" name="username" id="username" value="{{ user.username }}">
        <div class="panel panel-inverse">

            <div class="panel-body">
                <table width="100%" class="table table-profile">
                    <tbody>
                        <tr>
                            <td class="field">Workforce ID</td>
                            <td>{{ person.workforce_id }}</td>
                            <td class="field">First Name</td>
                            <td>{{ person.first_name }}</td>
                            <td class="field">Sex</td>
                            <td>{{ person.sex_id|gen_value:vals }}</td>
                        </tr>
                        <tr>
                            <td class="field">National ID</td>
                            <td>{{ person.national_id }}</td>
                            <td class="field">Surname</td>
                            <td>{{ person.surname }}</td>
                            <td class="field">DOB</td>
                            <td>{{ person.date_of_birth }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end panel -->
        <!-- begin panel -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">Roles in Organisational unit</h4>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Organisation Unit</th>
                            <th>Primary parent</th>
                            <th>Registration assistant</th>
                            <th>Document upload</th>
                            <th>Data supervisor</th>
                            <th>Capture site data entry</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                        <tr>
                            <td>
                            {{ form.org_unit_id }}
                            {{ form.org_unit_name.value }}
                            </td>
                            <td>{{ form.org_unit_primary.value }}</td>
                            <td>{{ form.group_RGU }}</td>
                            <td>{{ form.group_DUU }}</td>
                            <td>{{ form.group_DSU }}</td>
                            <td>{{ form.group_DEC }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end panel -->
    </div>
    {% if request.user|has_group:"ACM" or request.user|has_group:"RGU" %}
    <div class="col-md-4">
        <!-- begin panel -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">Role in geographical area</h4>
            </div>
            <div class="panel-body">
                {% if gformset.forms %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sub-county</th>
                            <th>Area child services</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td><input type="checkbox" id="selecctall"/> Select All</td>
                        </tr>
                        {% for gform in gformset %}
                        <tr>
                            <td>{{ gform.area_id }} {{ gform.sub_county.value }}</td>
                            <td>{{ gform.area_welfare }}</td>
                        </tr>
                        {% endfor %}    
                    </tbody>
                </table>
                {% else %}
                    <p>National level workforce</p>
                {% endif %}
            </div>
        </div>
        <!-- end panel -->
    </div>
    {% endif %}
    <div class="col-md-4">
        <!-- begin panel -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">General system access</h4>
            </div>
            <div class="panel-body">
                <p>{{ form.reset_password }} Reset Password</p>
                {{ form.activate_choice }}
            </div>
        </div>
        <!-- end panel -->
    </div>
    <div class="col-md-4">
        <!-- begin panel -->
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">Roles non-restricted</h4>
            </div>
            <div class="panel-body roles_non_restricted">
                {% if request.user|has_group:"ACM" and not gformset.forms %}
                <p>{{ form.group_SCM }} {{ form.group_SCM.label|safe }}</p>
                <p>{{ form.group_RGM }} {{ form.group_RGM.label|safe }}</p>
                <p>{{ form.group_ACM }} {{ form.group_ACM.label|safe }}</p>
                {% endif %}
                <p>{{ form.group_STD }} {{ form.group_STD.label|safe }}</p>
                <p>{{ form.group_DAP }} {{ form.group_DAP.label|safe }}</p>
            </div>
        </div>
        <!-- end panel -->
    </div> 
    <div class="col-md-12">   
        <div class="panel panel-inverse">
            <div class="panel-body panel-form">
                <div class="form-group">
                    <label class="control-label col-md-4 col-sm-4"></label>
                    <div class="col-md-6 col-sm-6">
                        <p></p>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="{% url 'search_persons' %}">
                        <button type="button" class="btn btn-default">Cancel</button>
                        </a>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
<!-- End content area -->
<!-- #modal-activate -->
<div class="modal fade" id="modal-activate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Activate account for {{ person.full_name }} ({{ person.id }})</h4>
            </div>
            <div class="modal-body">
                <br>
                <table width="100%" class="table">
                    <tr><td width="40%">Username</td><td>{{ user.username }}</td></tr>
                    <tr><td width="40%">Timestamp created</td><td>{{ user.timestamp_created }}</td></tr>
                    <tr><td width="40%">Last Updated</td><td>{{ user.timestamp_updated }}</td></tr>
                    <tr><td width="40%">Last login</td><td>{{ user.last_login }}</td></tr>
                    <tr><td width="40%">Account is active</td><td>{{ user.is_active }}</td></tr>
                    <tr><td width="40%">Last password change</td><td>{{ user.password_changed_timestamp }}</td></tr>

                </table>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                <a href="#" onclick="account_management(1, 'modal-activate')" class="btn btn-sm btn-success">Update Account</a>
            </div>
        </div>
    </div>
</div>
<!-- end #modal-activate -->
<!-- #modal-activate -->
<div class="modal fade" id="modal-password">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Change password for {{ person.full_name }} ({{ person.id }})</h4>
            </div>
            <div class="modal-body">
            <br>
                <table width="100%" class="table">
                    <tr><td width="40%">Username</td><td>{{ user.username }}</td></tr>
                    <tr><td width="40%">Timestamp created</td><td>{{ user.timestamp_created }}</td></tr>
                    <tr><td width="40%">Last Updated</td><td>{{ user.timestamp_updated }}</td></tr>
                    <tr><td width="40%">Last login</td><td>{{ user.last_login }}</td></tr>
                    <tr><td width="40%">Account is active</td><td>{{ user.is_active }}</td></tr>
                    <tr><td width="40%">Last password change</td><td>{{ user.password_changed_timestamp }}</td></tr>
                    <tr>
                        <td width="40%">Password</td>
                        <td><input type="password" class="form-control" id="password" name="password" placeholder="Password" /></td>
                    </tr>
                    <tr>
                        <td width="40%">Password (Repeat)</td>
                        <td><input type="password" class="form-control" id="password1" name="password1" placeholder="Password 2" /></td>
                    </tr>                   

                </table>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                <a href="#" onclick="account_management(2, 'modal-password')" class="btn btn-sm btn-success">Update Account</a>
            </div>
        </div>
    </div>
</div>
<!-- end #modal-activate -->
<!-- #modal-activate -->
<div class="modal fade" id="modal-deactivate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Deactivate account for {{ person.full_name }} ({{ person.id }})</h4>
            </div>
            <div class="modal-body">
                <br>
                <table width="100%" class="table">
                    <tr><td width="40%">Username</td><td>{{ user.username }}</td></tr>
                    <tr><td width="40%">Timestamp created</td><td>{{ user.timestamp_created }}</td></tr>
                    <tr><td width="40%">Last Updated</td><td>{{ user.timestamp_updated }}</td></tr>
                    <tr><td width="40%">Last login</td><td>{{ user.last_login }}</td></tr>
                    <tr><td width="40%">Account is active</td><td>{{ user.is_active }}</td></tr>
                    <tr><td width="40%">Last password change</td><td>{{ user.password_changed_timestamp }}</td></tr>

                </table>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                <a href="#" onclick="account_management(3, 'modal-deactivate')" class="btn btn-sm btn-success">Update Account</a>
            </div>
        </div>
    </div>
</div>
<!-- end #modal-activate -->
<!-- #modal-activate -->
<div class="modal fade" id="modal-force-change">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Force password change on next login for {{ person.full_name }} ({{ person.id }})</h4>
            </div>
            <div class="modal-body">
                <br>
                <table width="100%" class="table">
                    <tr><td width="40%">Username</td><td>{{ user.username }}</td></tr>
                    <tr><td width="40%">Timestamp created</td><td>{{ user.timestamp_created }}</td></tr>
                    <tr><td width="40%">Last Updated</td><td>{{ user.timestamp_updated }}</td></tr>
                    <tr><td width="40%">Last login</td><td>{{ user.last_login }}</td></tr>
                    <tr><td width="40%">Account is active</td><td>{{ user.is_active }}</td></tr>
                    <tr><td width="40%">Last password change</td><td>{{ user.password_changed_timestamp }}</td></tr>

                </table>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                <a href="#" onclick="account_management(4, 'modal-force-change')" class="btn btn-sm btn-success">Update Account</a>
            </div>
        </div>
    </div>
</div>
<!-- end #modal-activate -->
</div>
<!-- end row -->
{% endblock %}

{% block lazy_javascript_code %}
<script type="text/javascript">
    jQuery(document).ready(function() {
        //$('.roles_non_restricted').addClass('collapse').removeClass('in');
        $('#id_group_SCM, #id_group_ACM, #id_group_RGM').change(function() {
        var id = $(this).attr('id');
        // Modal to be called here
        confirm_dialogue(id);
        });

        $("#selecctall").change(function(){
            $(".area_check").prop('checked', $(this).prop("checked"));
        });

        $('#user-message').hide();


    function confirm_dialogue(id){
        if (!$('#dataConfirmModal').length) {
            $('body').append('<div id="dataConfirmModal" class="modal fade" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content form-horizontal form-bordered"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel"></h3></div><div class="modal-body"></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button><a class="btn btn-primary" id="dataConfirmOK">OK</a></div></div></div></div>');
        }
        var id_label = id.split("_")[2];
        var details = $( "a#id_"+ id_label ).attr( "data-original-title" );
        $('#dataConfirmModal').find('.modal-body').text(details);
        if($('#'+ id).is(':checked')) {
            var txt = ' Please confirm assignment of role';
            var check_val = true;
            var check_val_rev = false;
        }else{
            var txt = ' Please confirm revoking of role';
            var check_val = false;
            var check_val_rev = true;
        }

        $('#dataConfirmModal').find('#dataConfirmLabel').html(txt);
        $('#'+id).prop('checked', check_val_rev);
        $('#dataConfirmOK').click(function(event) {
            $('#'+id).prop('checked', check_val);
            $('#dataConfirmModal').modal('hide');
            return true;
        });
        $('#dataConfirmModal').modal({show:true});
        return false;
    }
});

function account_management(action_id, modal_id){
    var person_id = $('#person_id').val();
    var username = $('#username').val();
    var password = $('#password').val();
    var password1 = $('#password1').val();
    
    var csrftoken = $.cookie('csrftoken');
    var values = {'person_id': person_id, 'action_id': action_id,
                  'username': username, 'password': password,
                  'csrfmiddlewaretoken': csrftoken };
    //Ajax call
    var is_allowed = true;
    if (password != password1){
        is_allowed = false;
    }
    if (action_id == 2){
        if (password.length < 8){
            $('#user-form-message').html('Password must be 8 characters or more');
            $('#user-message').show();
            return false;
        }
   }

    if (is_allowed){
        $.ajax({
            type: "POST",
            data: values,
            dataType: "json",
            url: "/api/user/",
            success: function(data){
                var msg = data.message;
                $('#user-form-message').html(msg);
                $('#user-message').show();
                // Toggle modal
                $('#'+ modal_id).modal('toggle');
            },
            error: function(){
                $('#user-form-message').html("Error");
                $('#user-message').show();
                // Toggle modal
                $('#'+ modal_id).modal('toggle');
            }
        });
    }else{
        $('#user-form-message').html("Please provide all the details.");
        $('#user-message').show();
        // Toggle modal
        $('#'+ modal_id).modal('toggle');
    }

}
</script>

{% endblock %}
