{% extends 'base.html' %}

{% load static %}
{% block page_title %} Dashboard {% endblock %}

{% block style_code %}
<link href="{% static 'plugins/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/datatables/css/buttons.dataTables.min.css' %}" rel="stylesheet" />
<link href="{% static 'plugins/bootstrap-multiselect/dist/css/bootstrap-multiselect.css' %}" rel="stylesheet">


<style>
	a.svg: {
		text-decoration: none;
	}
	a.svg:hover {
		text-decoration: none;
	}
	a.svg:after {
	  content: "";
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;

	}
    #approvalbuttons {
        display: flex;
        justify-content: end;
    }
    tr td {
        border: 0px solid black;
    }

</style>
{% endblock style_code%}
{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">Dashboard</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header" id="phead">
{% if request.session.ou_primary_name %}
{{ request.session.ou_primary_name }}
{% else %} 
National
{% endif %} - Dashboard <small>Application data and usage summary</small>
 </h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row bg-white">
    <!-- Select button for the workflow -->
    <div class="row m-10">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <label>CHV Name</label><br>
            <select multiple="multiple" id="my-select" name="my-select">
                <option value='elem_1'>elem 1</option>
                <option value='elem_2'>elem 2</option>
                <option value='elem_3'>elem 3</option>
                <option value='elem_4'>elem 4</option>
                <option value='elem_100'>elem 100</option>
            </select>
        </div>
        <div class="col-md-3">
            <label>Children name</label><br>
            <select multiple="multiple" id="my-select1" name="my-select">
                <option value='elem_1'>elem 1</option>
                <option value='elem_2'>elem 2</option>
                <option value='elem_3'>elem 3</option>
                <option value='elem_4'>elem 4</option>
                <option value='elem_100'>elem 100</option>
            </select>
        </div>
        <div class="col-md-3">
            <label>Form Name</label><br>
            <select id="my-select2" name="my-select">
                <option value='elem_1'>elem 1</option>
                <option value='elem_2'>elem 2</option>
                <option value='elem_3'>elem 3</option>
                <option value='elem_4'>elem 4</option>
                <option value='elem_100'>elem 100</option>
            </select>
        </div>
        <div class="col-md-1"></div>
    </div>


    <!-- Staging area for approval -->
    <div class="row m-5">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="index-9">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						
					</div>
					<h4 class="panel-title">Forms Approval</h4>
				</div>
				<div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" id="approvalbuttons">
                            <input class="btn btn-primary m-5" type="button" value="Approve" />
                            <input class="btn btn-danger m-5" type="button" value="Reject" />
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12" id="approvaltable">
                            <table id="Dataapproval">
                                <thead>
                                    <tr>
                                        <td style="width: 10%;">
                                            <input id="#" type="checkbox" name="selectAll"><label class="m-5"> Select All</label>
                                        </td>
                                        <td style="width: 90%;">Data</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for in in formdata %}
                                    <tr>
                                        <td style="width: 10%;">
                                            <input id="#" type="checkbox" name="selectOne">
                                        </td>
                                        <td style="width: 90%;">
                                            <div class="row">
                                                <div class="col-mod-1"></div>
                                                <div class="col-mod-1"></div>
                                                <div class="col-mod-1"></div>
                                                <div class="col-mod-1"></div>
                                                <div class="col-mod-1"></div>
                                                <div class="col-mod-1"></div>
                                                
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                    </div>
				</div>
			</div>
        </div>
    </div>

    

    <!-- Modal start -->
    <div class="modal fade" id="modal-reports">
        <div class="modal-dialog">
            <div class="modal-content form-horizontal form-bordered">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Reports details - <span id="sdetails"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                            <table id="mydata" class="display" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Date Last Modified</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Date Last Modified</th>
                                        <th>Details</th>
                                    </tr>
                                </tfoot>
                            </table>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-sm btn-white" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->
</div>
<!-- end row -->
{% endblock %}

{% block lazy_javascript_code %}
    <script src="{% static 'plugins/flot/jquery.flot.min.js' %}"></script>
    <script src="{% static 'plugins/flot/jquery.flot.pie.min.js' %}"></script>
	<script src="{% static 'plugins/flot/jquery.flot.stack.min.js' %}"></script>
    <script src="{% static 'js/curvedLines.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-multiselect/dist/js/bootstrap-multiselect.js' %}"></script>
    
    <script src="{% static 'plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/buttons.html5.min.js' %}"></script>
	<script>
		$(document).ready(function() {
            $('#my-select, #my-select1, #my-select2').multiselect()

            $("#Dataapproval").DataTable()
		    


		});

</script>
{% endblock %}
