asgiref
backports.csv
bleach
certifi
chardet
charset-normalizer
coverage
defusedxml
Dejavu
diff-match-patch
Django
django-admin-sortable
django-crispy-forms
django-import-export
django-model-utils
django-simple-forums
django-url-framework
django-utils-six
djangorestframework
et-xmlfile
idna
importlib-metadata
jdcal
jellyfish
jsonfield
Markdown
MarkupPy
numpy
odfpy
openpyxl
packaging
pandas
Pillow
psycopg2-binary
pycairo
pymdown-extensions
pyparsing
python-dateutil
python-memcached
pytz
PyYAML
reportlab
requests
schedule
sentry-sdk
six
sqlparse
tablib
tzdata
urllib3
webencodings
xlrd
XlsxWriter
xlwt
zipp

