{% extends 'base.html' %}
{% load static %}
{% block page_title %} OVC Audit trails {% endblock %}

{% load app_filters %}

{% block style_code %}

{% endblock %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">OVC Care</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-child"></i> OVC Care <small>Audit trails | {{ child.first_name }} {{ child.surname }} | {{ child.age }}</small></h1>
<!-- end page-header -->

{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}
    <div id="message" class="alert alert-success fade in" style="display: none">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
  
        <span id="response"></span>
    </div>
<!-- begin row -->
<div class="row">
    <!-- begin panel -->
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>                      
            <h4 class="panel-title">{{ child.first_name }} {{ child.surname }} ({{ child.id }}) - OVC Audit trails details</h4>
        </div>
        <div style="overflow-x: auto; min-height: 300px;">
        <!-- start panel body -->
        <div class="panel-body">
            <fieldset>
            <div class="row">                
                <legend class="pull-left width-full">Person Registry</legend>
                {% if reg_audits %}
                <table class="table">
                    <thead>
                        <tr>
                            <th width="3%">#</th>
                            <th width="5%"></th>
                            <th width="5%">User ID</th>
                            <th width="5%">Username</th>
                            <th width="10%">User details</th>
                            <th width="5%">Transaction</th>
                            <th width="15%">Timestamp</th>
                            <th width="10%">IP Address</th>
                            <th>Metadata</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for audit in reg_audits %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>-</td>
                            <td>{{ audit.app_user_id }}</td>
                            <td>{{ audit.app_user.username }}</td>
                            <td>{{ audit.app_user.reg_person.first_name }} {{ audit.app_user.reg_person.surname }} </td>                            
                            <td>{{ audit.transaction_type_id }}</td>
                            <td>{{ audit.timestamp_modified }}</td>
                            <td>{{ audit.ip_address }}</td>
                            <td>{{ audit.meta_data }}</td>
                        </tr>                        
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>No Registry audit trails available</p>
                {% endif %}
                
                <legend class="pull-left width-full">Service Provision</legend>
                {% if serv_audits %}
                <table class="table">
                    <thead>
                        <tr>
                            <th width="3%">#</th>
                            <th width="5%"></th>
                            <th width="5%">User ID</th>
                            <th width="5%">Username</th>
                            <th width="10%">User details</th>
                            <th width="5%">Transaction</th>
                            <th width="15%">Timestamp</th>
                            <th width="10%">Date of event</th>
                            <th>Metadata</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for audit in serv_audits %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>-</td>
                    <td>{{ audit.created_by }}</td>
                    <td>{{ audit.app_user.username }}</td>
                    <td>{{ audit.app_user.reg_person.first_name }} {{ audit.app_user.reg_person.surname }} </td>                            
                    <td>{{ audit.event }}</td>
                    <td>{{ audit.timestamp_created }}</td>
                    <td>{{ audit.date_of_event }}</td>
                    <td>{{ audit.meta_data }}</td>
                </tr>                        
                {% endfor %}
            </tbody>
        </table>
                {% else %}
                <p>No services audit trails available</p>
                {% endif %}

                <legend class="pull-left width-full">Mobile App</legend>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="3%">#</th>
                            <th width="5%"></th>
                            <th width="5%">User ID</th>
                            <th width="5%">Username</th>
                            <th width="10%">User details</th>
                            <th width="5%">Transaction</th>
                            <th width="15%">Timestamp</th>
                            <th width="10%">Date of event</th>
                            <th>Metadata</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if app_audits %}
                        {% for audit in app_audits %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>App</td>
                            <td>{{ audit.device_user_id }}</td>
                            <td>{{ audit.device_user.username }}</td>
                            <td>{{ audit.device_user.reg_person.first_name }} {{ audit.device_user.reg_person.surname }} </td>                            
                            <td>{{ audit.form_name }}</td>
                            <td>{{ audit.device_timestamp_created }}</td>
                            <td>{{ audit.date_of_event }}</td>
                            <td rowspan="2">{{ audit.meta_data }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Web</td>
                            <td>{{ audit.approve_user_id }}</td>
                            <td>{{ audit.approve_user.username }}</td>
                            <td>{{ audit.approve_user.reg_person.first_name }} {{ audit.approve_user.reg_person.surname }} </td>                            
                            <td>{{ audit.form_name }}</td>
                            <td>{{ audit.approve_timestamp_created }}</td>
                            <td>{{ audit.date_of_event }}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td></td>
                            <td colspan="8"><p>No Mobile App audit trails available</p></td>
                        </tr>
                        {% endif %}        
                    </tbody>
                </table>
                </div>
            </fieldset>
            </div>

            <a href="{% url 'ovc_view' id=ovc_id %}" class="badge badge-primary m-4"> Back to OVC</a>
            <div class="badge pull-right m-4">Revised: May 2024</div>
        </div>
        <!-- end panel body -->
    </div>
    <!-- end panel --> 
</div>
<!-- end row -->
{% endblock %}

{% block lazy_javascript_code %}

{% endblock %}
