{% extends 'base.html' %}
{% load static %}
{% block page_title %} OVC Care HouseHold Management {% endblock %}

{% load app_filters %}

{% block style_code %}

{% endblock %}

{% block primary %}
<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
	<li><a href="#">Home</a></li>
	<li class="active">OVC Care</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header"><i class="fa fa-child"></i> OVC Care <small>HouseHold Management</small></h1>
<!-- end page-header -->

{% if messages %}
    {% for message in messages %}
    {% if 'error' in message.tags %}
        <div id="messages" class="alert alert-danger fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-info fa-2x pull-left"></i>
    {% else %}
        <div id="messages" class="alert alert-success fade in">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
    {% endif %}    
        <p>{{ message }}</p>
    </div>
   {% endfor %}
{% endif %}
    <div id="message" class="alert alert-success fade in" style="display: none">
        <span class="close" data-dismiss="alert">×</span>
        <i class="fa fa-check fa-2x pull-left"></i>
  
        <span id="response"></span>
    </div>
<!-- begin row -->
<div class="row">
    <!-- begin panel -->
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="#" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="#" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>                      
            <h4 class="panel-title">HouseHold details</h4>
        </div>
        <div style="overflow-x: auto; min-height: 300px;">
        <!-- start panel body -->
        <div class="panel-body">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Surname</th>
                            <th>Age</th>
                            <th>Type</th>
                            <th>Telephone</th>
                            <th>Alive</th>
                            <th>HIV Status</th>
                            <th>Head</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hhmember in hhmembers %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ hhmember.person.first_name }}</td>
                            <td>{{ hhmember.person.surname }}</td>
                            <td>{{ hhmember.person.years }}</td>
                            <td>
                            {% if hhmember.member_type == 'TBVC' %}
                               Sibling
                            {% elif hhmember.member_type == 'TOVC' %}
                               Enrolled OVC
                            {% else %}
                               Parent/Guardian
                            {% endif %}
                            </td>
                            <td>{{ hhmember.person.des_phone_number }}</td>
                            <td>
                                {% if hhmember.person.date_of_death %}
                            No
                        {% else %}
                            Yes
                        {% endif %}
                            </td>
                            <td>
                            {% if hhmember.hiv_status %}
                                {{ hhmember.hiv_status|gen_value:vals }}
                            {% else %}
                                N/A
                            {% endif %}
                            </td>
                            <td>
                            {% if not hhmember.hh_head %}
                                No
                            {% else %}
                                Yes
                            {% endif %}
                            </td>
                            <td>
                            <a href="{% url 'hh_edit' hhid=hhid id=hhmember.person_id %}"><button type="button" class="btn btn-primary"> <i class="fa fa-file"></i> Edit Member details </button></a>
                            {% if hhmember.member_type == 'TBVC' %}
                            {% if hhmember.hiv_status %}
                            <a href="{% url 'ovc_view' id=hhmember.person_id %}"><button type="button" class="btn btn-primary"> <i class="fa fa-file"></i> View</button></a>
                            {% else %}
                            <a href="{% url 'ovc_register' id=hhmember.person_id %}"><button type="button" class="btn btn-danger m-r-5"> <i class="fa fa-pencil"></i> Finish Registration</button></a>
                            {% endif %}
                            {% elif hhmember.member_type == 'TOVC' %}
                            <a href="{% url 'ovc_view' id=hhmember.person_id %}"><button type="button" class="btn btn-primary"> <i class="fa fa-file"></i> View</button></a>
                            {% endif %}
                            </td>
                        </tr>
                        <tr bgcolor="#ddd">
                            <td></td>
                            <td colspan="9">
                                {% if hhmember.health %}
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">Facility:</div><div class="col-md-4 col-sm-4">{{ hhmember.health.facility.facility_name }}</div>
                                    <div class="col-md-2 col-sm-2">CCC No.:</div><div class="col-md-4 col-sm-4">{{ hhmember.health.ccc_number }}</div>
                                </div>                                 
                                {% else %}
                                 <p>No linkage details</p>
                                {% endif %}
                                <hr>
                                <div class="row">
                                    <div class="col-md-2 col-sm-2">Mobile No:</div><div class="col-md-4 col-sm-4">{{ hhmember.person.des_phone_number }}</div>
                                    <div class="col-md-2 col-sm-2">Education Level:</div><div class="col-md-4 col-sm-4">{% if hhmember.extra.IHLE %}{{ hhmember.extra.IHLE|gen_value:vals }} {% else %} N/A {% endif %}</div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>

            <a href="{% url 'ovc_home' %}" class="badge badge-primary m-4"> Back to OVC</a>
            <div class="badge pull-right m-4">Revised: May 2022</div>
        </div>
        <!-- end panel body -->
    </div>
    <!-- end panel --> 
</div>
<!-- end row -->
{% endblock %}

{% block lazy_javascript_code %}

{% endblock %}
